@if (SoftwareVaults == null)
{
    <LoadingTab />
}
else
{
    <TableFilter SearchTextChanged="SearchTextChanged">
        <VaultFilter FilterChanged="FilterChangedAsync" />
    </TableFilter>
    <MainTable Items="SoftwareVaults">
        <TableHeader>
            <MainTableHeader Title="OS"
                             SortColumn="@nameof(SoftwareVault.OS)"
                             CurrentSortedColumn="@CurrentSortedColumn"
                             SortedColumnChanged="SortedColumnChanged"
                             SortDirectionChanged="SortDirectionChanged" />
            <MainTableHeader Title="Model"
                             SortColumn="@nameof(SoftwareVault.Model)"
                             CurrentSortedColumn="@CurrentSortedColumn"
                             SortedColumnChanged="SortedColumnChanged"
                             SortDirectionChanged="SortDirectionChanged" />
            <MainTableHeader Title="Version"
                             SortColumn="@nameof(SoftwareVault.ClientAppVersion)"
                             CurrentSortedColumn="@CurrentSortedColumn"
                             SortedColumnChanged="SortedColumnChanged"
                             SortDirectionChanged="SortDirectionChanged" />
            <MainTableHeader Title="Status"
                             SortColumn="@nameof(SoftwareVault.Status)"
                             CurrentSortedColumn="@CurrentSortedColumn"
                             SortedColumnChanged="SortedColumnChanged"
                             SortDirectionChanged="SortDirectionChanged" />
            <MainTableHeader Title="License Status"
                             SortColumn="@nameof(SoftwareVault.LicenseStatus)"
                             CurrentSortedColumn="@CurrentSortedColumn"
                             SortedColumnChanged="SortedColumnChanged"
                             SortDirectionChanged="SortDirectionChanged" />
            <MainTableHeader Title="Employee"
                             SortColumn="@nameof(SoftwareVault.Employee)"
                             CurrentSortedColumn="@CurrentSortedColumn"
                             SortedColumnChanged="SortedColumnChanged"
                             SortDirectionChanged="SortDirectionChanged" />
            <MainTableHeader Title="Company"
                             SortColumn="@nameof(SoftwareVault.Employee.Department.Company)"
                             CurrentSortedColumn="@CurrentSortedColumn"
                             SortedColumnChanged="SortedColumnChanged"
                             SortDirectionChanged="SortDirectionChanged" />
            <MainTableHeader Title="Company"
                             SortColumn="@nameof(SoftwareVault.Employee.Department)"
                             CurrentSortedColumn="@CurrentSortedColumn"
                             SortedColumnChanged="SortedColumnChanged"
                             SortDirectionChanged="SortDirectionChanged" />
        </TableHeader>
        <TableRow>
            <td>
                @context.OS
            </td>
            <td>
                @context.Model
            </td>
            <td>
                @context.ClientAppVersion
            </td>
            <td>
                @context.Status
            </td>
            <td>
                @context.LicenseStatus
            </td>
            <td>
                @context.Employee.FullName
            </td>
            <td>
                @context.Employee.Department.Company.Name
            </td>
            <td>
                @context.Employee.Department.Name
            </td>
        </TableRow>
    </MainTable>
    <Pagination CurrentPageChanged="CurrentPageChanged"
                DisplayRowsChanged="DisplayRowsChanged"
                TotalRecords="TotalRecords"
                CurrentPage="CurrentPage"
                DisplayRows="DisplayRows"
                DisplayRecords="SoftwareVaults.Count" />
}