@if (SoftwareVaults == null)
{
    <LoadingText />
}
else
{
    <div class="table-responsive mb-3">
        <table id="softwareVaults" class="table table-hover border rounded w-100">
            <thead>
                <tr>
                    <th>
                        OS
                    </th>
                    <th>
                        Model
                    </th>
                    <th>
                        ClientAppVersion
                    </th>
                    <th>
                        CreatedAt
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        LicenseStatus
                    </th>
                    <th>
                        LicenseEndDate
                    </th>
                    <th>
                        NeedSync
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vault in SoftwareVaults)
                {
                    <tr>
                        <td>
                            @vault.OS
                        </td>
                        <td>
                            @vault.Model
                        </td>
                        <td>
                            @vault.ClientAppVersion
                        </td>
                        <td>
                            @TimeZoneInfo.ConvertTimeFromUtc((DateTime)vault.CreatedAt, TimeZoneInfo.Local)
                        </td>
                        <td>
                            @vault.Status
                        </td>
                        <td>
                            @vault.LicenseStatus
                        </td>
                        <td>
                            @if (vault.LicenseEndDate != null)
                            {
                                @TimeZoneInfo.ConvertTimeFromUtc((DateTime)vault.LicenseEndDate, TimeZoneInfo.Local)
                            }
                        </td>
                        <td>
                            @vault.NeedSync
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}