@page "/Templates"
@attribute [Authorize(Roles = ApplicationRoles.AdminRole)]
@inherits OwningComponentBase

@if (MainTableService.Entities == null)
{
    <LoadingPage />
}
else
{
    <TableAction>
        <FilterForm>
            <TemplateFilterComponent FilterChanged="MainTableService.FilterChangedAsync" />
        </FilterForm>
        <ActionButtons>
            <button type="button" @onclick="CreateTemplateAsync" class="btn btn-primary mx-1" title="Create template">
                Create template
            </button>
            @if (MainTableService.SelectedEntity != null)
            {
                <button type="button" @onclick="EditTemplateAsync" class="btn btn-light border mx-1" title="Edit template">
                    <img class="icon-btn" src="/svg/action/edit.svg" />
                    Edit
                </button>
                <button type="button" @onclick="DeleteTemplateAsync" class="btn btn-light border mx-1" title="Delete template">
                    <img class="icon-btn" src="/svg/action/delete.svg" />
                    Delete
                </button>
            }
        </ActionButtons>
        <FilterButtons>
            <TableFilter SearchTextChanged="MainTableService.SearchTextChangedAsync" />
        </FilterButtons>
    </TableAction>
    <MainTable Items="MainTableService.Entities" SelectedItem="MainTableService.SelectedEntity" SelecedItemChanged="MainTableService.SelectedItemChangedAsync">
        <TableHeader>
            <MainTableHeader Title="Name"
                             TitleWidth="16"
                             SortColumn="@nameof(Template.Name)"
                             CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                             CurrentSortDirection="@MainTableService.DataLoadingOptions.SortDirection"
                             SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                             SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
            <MainTableHeader Title="Urls"
                             TitleWidth="16"
                             SortColumn="@nameof(Template.Urls)"
                             CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                             CurrentSortDirection="@MainTableService.DataLoadingOptions.SortDirection"
                             SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                             SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
            <MainTableHeader Title="Apps"
                             TitleWidth="16"
                             SortColumn="@nameof(Template.Apps)"
                             CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                             CurrentSortDirection="@MainTableService.DataLoadingOptions.SortDirection"
                             SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                             SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
        </TableHeader>
        <TableRow>
            <td>
                @context.Name
            </td>
            <td>
                @context.Urls
            </td>
            <td>
                @context.Apps
            </td>
        </TableRow>
    </MainTable>
    <Pagination CurrentPageChanged="MainTableService.CurrentPageChangedAsync"
                DisplayRowsChanged="MainTableService.DisplayRowsChangedAsync"
                TotalRecords="MainTableService.TotalRecords"
                CurrentPage="MainTableService.CurrentPage"
                DisplayRows="MainTableService.DataLoadingOptions.Take"
                DisplayRecords="MainTableService.Entities.Count" />
}