@page
@model HES.Web.Pages.Settings.LicenseOrders.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LicenseOrder</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LicenseOrder.ContactEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LicenseOrder.ContactEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LicenseOrder.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LicenseOrder.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LicenseOrder.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LicenseOrder.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LicenseOrder.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LicenseOrder.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LicenseOrder.ProlongExistingLicenses)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LicenseOrder.ProlongExistingLicenses)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LicenseOrder.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LicenseOrder.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LicenseOrder.OrderStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LicenseOrder.OrderStatus)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="LicenseOrder.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
