@page
@model HES.Web.Pages.Settings.LicenseOrders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-navyblue">Details License Order</h1>
<div class="row white-card">
    <div class="col-12 col-sm-6">
        <dl class="row">
            <dt class="col-6">
                @Html.DisplayNameFor(model => model.LicenseOrder.ContactEmail)
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.LicenseOrder.ContactEmail)
            </dd>
            <dt class="col-6">
                @Html.DisplayNameFor(model => model.LicenseOrder.Note)
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.LicenseOrder.Note)
            </dd>
            @if (!Model.LicenseOrder.ProlongExistingLicenses)
            {
                <dt class="col-6">
                    @Html.DisplayNameFor(model => model.LicenseOrder.StartDate)
                </dt>
                <dd class="col-6">
                    @Model.LicenseOrder.StartDate.Value.ToShortDateString()
                </dd>
            }
            <dt class="col-6">
                @Html.DisplayNameFor(model => model.LicenseOrder.EndDate)
            </dt>
            <dd class="col-6">
                @Model.LicenseOrder.EndDate.ToShortDateString()
            </dd>
            <dt class="col-6">
                Prolong License
            </dt>
            <dd class="col-6">
                @if (Model.LicenseOrder.ProlongExistingLicenses)
                {
                    <span class="badge badge-success">Yes</span>
                }
                else
                {
                    <span class="badge badge-secondary">No</span>
                }
            </dd>
            <dt class="col-6">
                @Html.DisplayNameFor(model => model.LicenseOrder.CreatedAt)
            </dt>
            <dd class="col-6">
                @TimeZoneInfo.ConvertTimeFromUtc((DateTime)Model.LicenseOrder.CreatedAt, TimeZoneInfo.Local)
            </dd>
            <dt class="col-6">
                @Html.DisplayNameFor(model => model.LicenseOrder.OrderStatus)
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.LicenseOrder.OrderStatus)
            </dd>
        </dl>
    </div>
    <div class="col-12 col-sm-6" style="max-height:390px; overflow-y:auto">
        <table id="nonLicensedDevices" class="display table table-hover inside-scrollbar w-100">
            <thead>
                <tr>
                    <th>
                        Serial Number
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var device in Model.DeviceLicenses)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => device.HardwareVaultId)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-page="./Index">Back</a>
</div>

@section Scripts{
    <script>
        // Breadcrumbs
        $('#breadcrumb').toggleClass('d-none');
        $('.breadcrumb').append('<li class="breadcrumb-item"><a href="/Settings/LicenseOrders">License Orders</a></li>');
        $('.breadcrumb').append('<li class="breadcrumb-item active">Details Order</li>');
    </script>
}