@if (MainTableService.Entities == null)
{
    <LoadingPage />
}
else
{
    <TableAction>
        <FilterForm>
            <LicenseOrderFilterComponent FilterChanged="MainTableService.FilterChangedAsync" />
        </FilterForm>
        <ActionButtons>
            <button type="button" @onclick="CreateLicenseOrderAsync" class="btn btn-primary mx-1" title="New Order">
            New Order
            </button>
            @if (MainTableService.SelectedEntity != null)
            {
                if (MainTableService.SelectedEntity.OrderStatus == LicenseOrderStatus.New)
                {
                    <button type="button" @onclick="SendLicenseOrderAsync" class="btn btn-light border mx-1" title="Send license order">
                        <img class="icon-btn" src="/svg/action/send.svg" />
                        Send
                    </button>

                    <button type="button" @onclick="EditLicenseOrderAsync" class="btn btn-light border mx-1" title="Edit license order">
                        <img class="icon-btn" src="/svg/action/edit.svg" />
                        Edit
                    </button>

                    <button type="button" @onclick="DeleteLicenseOrderAsync" class="btn btn-light border mx-1" title="Delete license order">
                        <img class="icon-btn" src="/svg/action/delete.svg" />
                        Delete
                    </button>
                }

                <button type="button" @onclick="LicenseOrderDetailsAsync" class="btn btn-light border mx-1" title="License order details">
                    <img class="icon-btn" src="/svg/action/details.svg" />
                    Details
                </button>
            }
        </ActionButtons>
        <FilterButtons>
            <TableFilter SearchTextChanged="MainTableService.SearchTextChangedAsync" />
        </FilterButtons>
    </TableAction>
    <MainTable Items="MainTableService.Entities" SelectedItem="MainTableService.SelectedEntity" SelecedItemChanged="MainTableService.SelectedItemChangedAsync">
        <TableHeader>
            <MainTableHeader Title="Contact Email"
                             TitleWidth="12.5"
                             SortColumn="@nameof(LicenseOrder.ContactEmail)"
                             CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                             SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                             SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
            <MainTableHeader Title="Note"
                             TitleWidth="12.5"
                             SortColumn="@nameof(LicenseOrder.Note)"
                             CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                             SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                             SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
            <MainTableHeader Title="Prolong"
                             TitleWidth="12.5"
                             SortColumn="@nameof(LicenseOrder.ProlongExistingLicenses)"
                             CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                             SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                             SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
            <MainTableHeader Title="Start Date"
                             TitleWidth="12.5"
                             SortColumn="@nameof(LicenseOrder.StartDate)"
                             CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                             SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                             SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
            <MainTableHeader Title="End Date"
                             TitleWidth="12.5"
                             SortColumn="@nameof(LicenseOrder.EndDate)"
                             CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                             SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                             SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
            <MainTableHeader Title="Created At"
                             TitleWidth="12.5"
                             SortColumn="@nameof(LicenseOrder.CreatedAt)"
                             CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                             SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                             SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
            <MainTableHeader Title="Order Status"
                             TitleWidth="12.5"
                             SortColumn="@nameof(LicenseOrder.OrderStatus)"
                             CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                             SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                             SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
        </TableHeader>
        <TableRow>
            <td>
                @context.ContactEmail
            </td>
            <td>
                @context.Note
            </td>
            <td>
                @if (context.ProlongExistingLicenses)
                    {
                    <span class="badge badge-success">Yes</span>
                    }
                    else
                    {
                    <span class="badge badge-secondary">No</span>
                    }
            </td>
            <td>
                @if (context.StartDate != null)
                    {
                    @context.StartDate.Value.ToLocalTime()
                    }
            </td>
            <td>
                @if (context.EndDate != null)
                    {
                    @context.EndDate.ToLocalTime()
                    }
            </td>
            <td>
                @if (context.CreatedAt != null)
                    {
                    @context.CreatedAt.ToLocalTime()
                    }
            </td>
            <td>
                @context.OrderStatus.ToString()
            </td>
        </TableRow>
    </MainTable>
    <Pagination CurrentPageChanged="MainTableService.CurrentPageChangedAsync"
                DisplayRowsChanged="MainTableService.DisplayRowsChangedAsync"
                TotalRecords="MainTableService.TotalRecords"
                CurrentPage="MainTableService.CurrentPage"
                DisplayRows="MainTableService.DataLoadingOptions.Take"
                DisplayRecords="MainTableService.Entities.Count" />
}