@if (LdapSettings == null)
{
    <LoadingText />
}
else
{
    <EditForm EditContext="@LdapSettingsContext">
        <DataAnnotationsValidator />
        <div class="form-group">
            <FormLabel For="@(() => LdapSettings.Host)" class="text-gray" />
            <InputText id="domainHost" @bind-Value="LdapSettings.Host" class="form-control text-navyblue" placeholder="my.company.com" />
            <ValidationMessage For="@(() => LdapSettings.Host)" class="text-danger" />
        </div>
        <div class="form-group">
            <FormLabel For="@(() => LdapSettings.UserName)" class="text-gray" />
            <InputText @bind-Value="LdapSettings.UserName" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => LdapSettings.UserName)" class="text-danger" />
        </div>
        <div class="form-group">
            <FormLabel For="@(() => LdapSettings.Password)" class="text-gray" />
            <InputText @bind-Value="LdapSettings.Password" type="password" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => LdapSettings.Password)" class="text-danger" />
        </div>
        <div class="form-group">
            <FormLabel For="@(() => LdapSettings.MaxPasswordAge)" class="text-gray"><Suffix><b>(days)</b></Suffix></FormLabel> 
            <InputNumber @bind-Value="LdapSettings.MaxPasswordAge" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => LdapSettings.MaxPasswordAge)" class="text-danger" />
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-secondary" @onclick="@(async () => await ModalDialogService.CancelAsync())">Cancel</button>
            <ButtonSpinner Class="btn btn-primary" Text="Save" Callback="SaveSettingsAsync" />
        </div>
    </EditForm>
}