@if (_ldapSettings == null)
{
    <LoadingText />
}
else
{
    <EditForm Model="@_ldapSettings" OnValidSubmit="@SaveAsync">
        <DataAnnotationsValidator />
        <h5>Enter your credentials</h5>
        <p>These credentials will be used to connect @Host</p>
        <div class="form-group">
            <label class="control-label text-gray">User Name</label>
            <InputText id="domainUserName" @bind-Value="_ldapSettings.UserName" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => _ldapSettings.UserName)" class="text-danger" />
        </div>
        <div class="form-group">
            <label class="control-label text-gray">Password</label>
            <InputText id="domainPassword" type="password" @bind-Value="_ldapSettings.Password" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => _ldapSettings.Password)" class="text-danger" />
        </div>
        <div class="text-right mt-4">
            <button type="button" class="btn btn-secondary" @onclick="@(async () => await ModalDialogService.CloseAsync())">Cancel</button>
            <button type="submit" class="btn btn-primary">
                <span class="spinner-border spinner-border-sm @(_IsBusy == true ? "" : "d-none")" role="status" aria-hidden="true"></span>
                <span>Save</span>
            </button>
        </div>
    </EditForm>
}