@inherits OwningComponentBase

@if (LdapSettings == null)
{
    <LoadingText />
}
else
{
    <EditForm Model="@LdapSettings" OnValidSubmit="@ConnectAsync">
        <DataAnnotationsValidator />
        <h5>Enter your credentials</h5>
        <p>These credentials will be used to connect @Host</p>
        <div class="form-group">
            <label class="control-label text-gray">User Name</label>
            <InputText @bind-Value="LdapSettings.UserName" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => LdapSettings.UserName)" class="text-danger" />
        </div>
        <div class="form-group">
            <label class="control-label text-gray">Password</label>
            <InputText type="password" @bind-Value="LdapSettings.Password" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => LdapSettings.Password)" class="text-danger" />
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="saveCredentials" @bind="SaveCredentials">
                <label class="custom-control-label" for="saveCredentials">Save Credentials</label>
            </div>
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-secondary" @onclick="@CancelRequested.InvokeAsync">Cancel</button>
            <ButtonSpinner Class="btn-primary" Text="Connect" Callback="ConnectAsync" />
        </div>
    </EditForm>
}