@if (LdapSettings == null)
{
    <LoadingText />
}
else
{
    <EditForm EditContext="@LdapSettingsContext">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label class="control-label text-gray">Host</label>
            <InputText id="domainHost" @bind-Value="LdapSettings.Host" class="form-control text-navyblue" placeholder="my.company.com" />
            <ValidationMessage For="@(() => LdapSettings.Host)" class="text-danger" />
        </div>
        <div class="form-group">
            <label class="control-label text-gray">User Name</label>
            <InputText @bind-Value="LdapSettings.UserName" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => LdapSettings.UserName)" class="text-danger" />
        </div>
        <div class="form-group">
            <label class="control-label text-gray">Password</label>
            <InputText type="password" @bind-Value="LdapSettings.Password" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => LdapSettings.Password)" class="text-danger" />
        </div>
        <div class="form-group">
            <label class="control-label text-gray">Auto Password Change <b>(days)</b></label>
            <InputNumber @bind-Value="LdapSettings.MaxPasswordAge" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => LdapSettings.MaxPasswordAge)" class="text-danger" />
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-secondary" @onclick="@(async () => await ModalDialogService.CancelAsync())">Cancel</button>
            <ButtonSpinner Class="btn btn-primary" Text="Save" Callback="SaveSettingsAsync" />
        </div>
    </EditForm>
}