@if (LicensingSettings == null)
{
    <LoadingText />
}
else
{
    <EditForm Model="@LicensingSettings" OnValidSubmit="@UpdateLicensingSettingsAsync">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label class="control-label text-gray">Api Address</label>
            <InputText @bind-Value="LicensingSettings.ApiAddress" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => LicensingSettings.ApiAddress)" class="text-danger" />
        </div>
        <div class="form-group">
            <label class="control-label text-gray">Api Key</label>
            <InputText @bind-Value="LicensingSettings.ApiKey" class="form-control text-navyblue" type="password" />
            <ValidationMessage For="@(() => LicensingSettings.ApiKey)" class="text-danger" />
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-secondary" @onclick="@(async () => await ModalDialogService.CancelAsync())">Cancel</button>
            <ButtonSpinner @ref="ButtonSpinner" Submit="true" Text="Save" Class="btn btn-primary" />
        </div>
    </EditForm>
}