@if (MainTableService.Entities == null)
{
    <LoadingPage />
}
else
{
    <TableAction>
        <FilterForm>
            <SharedAccountFilterComponent FilterChanged="MainTableService.FilterChangedAsync" />
        </FilterForm>
        <ActionButtons>
            <button type="button" @onclick="CreateSharedAccountAsync" class="btn btn-primary mx-1" title="Create shared account">
                Create shared account
            </button>
            @if (MainTableService.SelectedEntity != null)
            {
                @if (MainTableService.SelectedEntity.Kind != AccountKind.Workstation)
                {
                    <button type="button" @onclick="EditSharedAccountOTPAsync" class="btn btn-light border mx-1" title="Edit shared account OTP">
                        <img class="icon-btn" src="/svg/action/otp.svg" />
                        Edit OTP
                    </button>
                }

                <button type="button" @onclick="EditSharedAccountAsync" class="btn btn-light border mx-1" title="Edit shared account password">
                    <img class="icon-btn" src="/svg/action/edit.svg" />
                    Edit
                </button>

                <button type="button" @onclick="EditSharedAccountPasswordAsync" class="btn btn-light border mx-1" title="Edit shared account password">
                    <img class="icon-btn" src="/svg/action/password.svg" />
                    Edit Password
                </button>

                <button type="button" @onclick="DeleteSharedAccountAsync" class="btn btn-light border mx-1" title="Delete shared account">
                    <img class="icon-btn" src="/svg/action/delete.svg" />
                    Delete
                </button>
            }
        </ActionButtons>
        <FilterButtons>
            <TableFilter SearchTextChanged="MainTableService.SearchTextChangedAsync" />
        </FilterButtons>
    </TableAction>
    <MainTable Items="MainTableService.Entities" SelectedItem="MainTableService.SelectedEntity" SelecedItemChanged="MainTableService.SelectedItemChangedAsync">
        <TableHeader>
            <MainTableHeader Title="@nameof(SharedAccount.Name)"
                             TitleWidth="16"
                             SortColumn="@nameof(SharedAccount.Name)"
                             CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                             CurrentSortDirection="@MainTableService.DataLoadingOptions.SortDirection"
                             SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                             SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
            <MainTableHeader Title="@nameof(SharedAccount.Urls)"
                             TitleWidth="16"
                             SortColumn="@nameof(SharedAccount.Urls)"
                             CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                             CurrentSortDirection="@MainTableService.DataLoadingOptions.SortDirection"
                             SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                             SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
            <MainTableHeader Title="@nameof(SharedAccount.Apps)"
                             TitleWidth="16"
                             SortColumn="@nameof(SharedAccount.Apps)"
                             CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                             CurrentSortDirection="@MainTableService.DataLoadingOptions.SortDirection"
                             SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                             SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
            <MainTableHeader Title="@nameof(SharedAccount.Login)"
                             TitleWidth="16"
                             SortColumn="@nameof(SharedAccount.Login)"
                             CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                             CurrentSortDirection="@MainTableService.DataLoadingOptions.SortDirection"
                             SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                             SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
            <MainTableHeader Title="Password updated"
                             TitleWidth="16"
                             SortColumn="@nameof(SharedAccount.PasswordChangedAt)"
                             CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                             CurrentSortDirection="@MainTableService.DataLoadingOptions.SortDirection"
                             SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                             SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
            <MainTableHeader Title="OTP updated"
                             TitleWidth="16"
                             SortColumn="@nameof(SharedAccount.OtpSecretChangedAt)"
                             CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                             CurrentSortDirection="@MainTableService.DataLoadingOptions.SortDirection"
                             SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                             SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
        </TableHeader>
        <TableRow>
            <td>
                @context.Name
            </td>
            <td>
                @if (!string.IsNullOrWhiteSpace(context.Urls))
                    {
                    @foreach (var url in context.Urls.Split(';'))
                        {
                        <span style="white-space: pre-line">@url</span>
                        }
                    }
            </td>
            <td>
                @if (!string.IsNullOrWhiteSpace(context.Apps))
                    {
                    @foreach (var app in context.Apps.Split(';'))
                        {
                        <span style="white-space: pre-line">@app</span>
                        }
                    }
            </td>
            <td>
                @context.Login
            </td>
            <td>
                @if (context.PasswordChangedAt != null)
                    {
                    <span>@context.GetPasswordUpdated.Days day(s)</span>
                    }
            </td>
            <td>
                @if (context.OtpSecretChangedAt != null)
                    {
                    <span>@context.GetOtpUpdated.Days day(s)</span>
                    }
            </td>
        </TableRow>
    </MainTable>
    <Pagination CurrentPageChanged="MainTableService.CurrentPageChangedAsync"
                DisplayRowsChanged="MainTableService.DisplayRowsChangedAsync"
                TotalRecords="MainTableService.TotalRecords"
                CurrentPage="MainTableService.CurrentPage"
                DisplayRows="MainTableService.DataLoadingOptions.Take"
                DisplayRecords="MainTableService.Entities.Count" />
}