@inherits OwningComponentBase

@if (Initialized)
{
    <div class="card mb-3">
        <div class="card-body">
            <button type="button" class="btn btn-primary" title="Create company" @onclick="OpenDialogCreateCompanyAsync">
                Create Company
            </button>
        </div>
    </div>
    @foreach (var company in Companies)
    {
        <DepartmentTable Departments="company.Departments" EditDepartmentDialog="OpenDialogEditDepartmentAsync" DeleteDepartmentDialog="OpenDialogDeleteDepartmentAsync">
            <CompanyBody>
                <div class="mt-3 d-flex flex-wrap">
                    <h3 class="text-navyblue text-break m-0 mr-2">@company.Name</h3>
                    <button type="button" class="btn btn-light border mx-1" title="Edit company" @onclick="@(async () => await OpenDialogEditCompanyAsync(company))">
                        <img class="icon-btn mr-0" src="/svg/icon-edit.svg" />
                        Edit
                    </button>
                    <button type="button" class="btn btn-light border mx-1" title="Delete company" @onclick="@(async () => await OpenDialogDeleteCompanyAsync(company))">
                        <img class="icon-btn mr-0" src="/svg/icon-delete.svg" />
                        Delete
                    </button>
                    <button type="button" class="btn btn-primary border mx-1" title="Create department" @onclick="@(async () => await OpenDialogCreateDepartmentAsync(company))">
                        Create Department
                    </button>
                </div>
            </CompanyBody>
        </DepartmentTable>
    }
}
else if (LoadFailed)
{
    <LoadingFailed ErrorMessage="@ErrorMessage" />
}
else
{
    <LoadingPage />
}