@inherits OwningComponentBase

@if (Initialized)
{
    <div class="d-flex justify-content-between mb-2">
        <div class="d-flex align-items-center flex-wrap">
            <button type="button" class="btn btn-primary" title="Create company" @onclick="OpenDialogCreatePositionAsync">
                Create Position
            </button>
        </div>
        <div class="d-flex align-items-end flex-nowrap">
            <input type="text" @bind-value="SearchText" @bind-value:event="oninput" class="form-control is-search" placeholder="Search">
        </div>
    </div>
    <div class="table-responsive mb-3">
        <table class="table table-hover border rounded mb-0 disable-selection">
            <thead>
                <tr>
                    <th @onclick="@(() => SortTable())">
                        <span class="w-100">
                            Positions
                        </span>
                        <img class="table-sort-arrow @GetSortIcon()" />
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var position in Positions.Where(x => x.Name.Contains(SearchText, StringComparison.OrdinalIgnoreCase)))
                {
                    <tr>
                        <td>
                            <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-center flex-wrap">
                                    @position.Name
                                </div>
                                <div class="d-flex align-items-center flex-nowrap">
                                    <button type="button" class="btn btn-light border mx-1" title="Edit department" @onclick="@(async () => await OpenDialogEditPositionAsync(position))">
                                        <img class="icon-btn" src="/svg/icon-edit.svg" />
                                        Edit
                                    </button>
                                    <button type="button" class="btn btn-light border mx-1" title="Delete department" @onclick="@(async () => await OpenDialogDeletePositionAsync(position))">
                                        <img class="icon-btn" src="/svg/icon-delete.svg" />
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else if (LoadFailed)
{
    <LoadingFailed ErrorMessage="@ErrorMessage" />
}
else
{
    <LoadingPage />
}