@page "/Identity/Account/Manage"
@attribute [Authorize(Roles = ApplicationRoles.AdminRole)]

<NavigationHeader Tab="NavigationHeader.ActiveTab.Profile" />

@if (ProfileInfo == null)
{
    <LoadingTab />
}
else
{
    <div class="card mb-2">
        <div class="card-body">
            <h4 class="text-navyblue">Profile</h4>
            <EditForm Model="ProfileInfo" OnValidSubmit="SaveProfileAsync">
                <DataAnnotationsValidator />
                <div class="form-group" style="max-width:350px">
                    <label class="text-gray">Email</label>
                    <input @bind="ProfileInfo.Email" class="form-control" />
                    <ValidationMessage For="@(() => ProfileInfo.Email)" class="text-danger" />
                    @if (!ApplicationUser.EmailConfirmed)
                    {
                        <button type="button" @onclick="SendVerificationEmailAsync" class="btn btn-link">Send verification email</button>
                    }
                </div>
                <div class="form-group" style="max-width:350px">
                    <label class="text-gray">Phone Number</label>
                    <input @bind="ProfileInfo.PhoneNumber" class="form-control" />
                    <ValidationMessage For="@(() => ProfileInfo.PhoneNumber)" class="text-danger" />
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Save profile</button>
                </div>
            </EditForm>
        </div>
    </div>
    <div class="card  mb-2">
        <div class="card-body">
            <h4 class="text-navyblue">Change Password</h4>
            <EditForm Model="ProfilePassword" OnValidSubmit="ChangePasswordAsync">
                <DataAnnotationsValidator />
                <div class="form-group" style="max-width:350px">
                    <label class="text-gray">Current password</label>
                    <input type="password" @bind="ProfilePassword.OldPassword" class="form-control" />
                    <ValidationMessage For="@(() => ProfilePassword.OldPassword)" class="text-danger" />
                </div>
                <div class="form-group" style="max-width:350px">
                    <label class="text-gray">New password</label>
                    <input type="password" @bind="ProfilePassword.NewPassword" class="form-control" />
                    <ValidationMessage For="@(() => ProfilePassword.NewPassword)" class="text-danger" />
                </div>
                <div class="form-group" style="max-width:350px">
                    <label class="text-gray">Confirm new password</label>
                    <input type="password" @bind="ProfilePassword.ConfirmPassword" class="form-control" />
                    <ValidationMessage For="@(() => ProfilePassword.ConfirmPassword)" class="text-danger" />
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Save password</button>
                </div>
            </EditForm>
        </div>
    </div>
}