@if (!Initialized)
{
    <LoadingText />
}
else
{
    <EditForm Model="Filter" OnValidSubmit="FilteredAsync">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">Start Date</label>
                <input type="date" id="filterCreatedAtStartDate" @bind="Filter.StartDate" class="form-control" />
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">End Date</label>
                <input type="date" id="filterCreatedAtStartDate" @bind="Filter.EndDate" class="form-control" />
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">Battery</label>
                <InputNumber id="filterBattery" @bind-Value="Filter.Battery" class="form-control" />
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">Firmware</label>
                <select id="filterStatus" @bind="Filter.Firmware" class="form-control">
                    <option selected></option>
                    @foreach (var item in Firmwares)
                    {
                        <option value="@item.Text">@item.Text</option>
                    }
                </select>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">License Status</label>
                <select id="filterStatus" @bind="Filter.LicenseStatus" class="form-control">
                    <option selected></option>
                    @foreach (var item in LicenseStatuses)
                    {
                        <option value="@item.Text">@item.Text</option>
                    }
                </select>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">Employee</label>
                <select id="filterStatus" @bind="Filter.EmployeeId" class="form-control">
                    <option selected></option>
                    @foreach (var item in Employees)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">Company</label>
                <select id="filterStatus" @onchange="CompanyOnChangeAsync" class="form-control">
                    <option selected></option>
                    @foreach (var item in Companies)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">Department</label>
                <select id="filterStatus" @bind="Filter.DepartmentId" class="form-control" disabled="@(Departaments == null)">
                    <option selected></option>
                    @if (Departaments != null)
                    {
                        @foreach (var item in Departaments)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
            </div>

            <div class="col align-self-end text-right form-group">
                <button id="clearFilter" type="button" class="btn btn-secondary" @onclick="ClearAsync">Clear</button>
                <input id="submitFilter" type="submit" value="Filter" class="btn btn-primary" />
            </div>
        </div>
    </EditForm>
}