@if (HardwareVaults == null)
{
    <LoadingTab />
}
else
{
    <MainTable Items="HardwareVaults" SelectedItem="@SelectedHardwareVault" SelecedItemChanged="SelectedItemChangedAsync">
        <TableHeader>
            <th style="width:1px;">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="checkbox_all">
                    <label class="custom-control-label" for="checkbox_all"></label>
                </div>
            </th>
            <MainTableHeader Title="@nameof(Device.Id)"
                             TitleWidth="16"
                             SortColumn="@nameof(Device.Id)"
                             CurrentSortedColumn="@SortedColumn"
                             SortedColumnChanged="SortedColumnChangedAsync"
                             SortDirectionChanged="SortDirectionChangedAsync" />
            <MainTableHeader Title="@nameof(Device.MAC)"
                             TitleWidth="12"
                             SortColumn="@nameof(Device.MAC)"
                             CurrentSortedColumn="@SortedColumn"
                             SortedColumnChanged="SortedColumnChangedAsync"
                             SortDirectionChanged="SortDirectionChangedAsync" />
            <MainTableHeader Title="@nameof(Device.Battery)"
                             SortColumn="@nameof(Device.Battery)"
                             CurrentSortedColumn="@SortedColumn"
                             SortedColumnChanged="SortedColumnChangedAsync"
                             SortDirectionChanged="SortDirectionChangedAsync" />
            <MainTableHeader Title="@nameof(Device.Firmware)"
                             TitleWidth="12"
                             SortColumn="@nameof(Device.Firmware)"
                             CurrentSortedColumn="@SortedColumn"
                             SortedColumnChanged="SortedColumnChangedAsync"
                             SortDirectionChanged="SortDirectionChangedAsync" />
            <MainTableHeader Title="Profile"
                             TitleWidth="12"
                             SortColumn="@nameof(Device.DeviceAccessProfile.Name)"
                             CurrentSortedColumn="@SortedColumn"
                             SortedColumnChanged="SortedColumnChangedAsync"
                             SortDirectionChanged="SortDirectionChangedAsync" />
            <MainTableHeader Title="@nameof(Device.Status)"
                             TitleWidth="12"
                             SortColumn="@nameof(Device.Status)"
                             CurrentSortedColumn="@SortedColumn"
                             SortedColumnChanged="SortedColumnChangedAsync"
                             SortDirectionChanged="SortDirectionChangedAsync" />
            <MainTableHeader Title="Last Synced"
                             TitleWidth="12"
                             SortColumn="@nameof(Device.LastSynced)"
                             CurrentSortedColumn="@SortedColumn"
                             SortedColumnChanged="SortedColumnChangedAsync"
                             SortDirectionChanged="SortDirectionChangedAsync" />
            <MainTableHeader Title="License Status"
                             TitleWidth="12"
                             SortColumn="@nameof(Device.LicenseStatus)"
                             CurrentSortedColumn="@SortedColumn"
                             SortedColumnChanged="SortedColumnChangedAsync"
                             SortDirectionChanged="SortDirectionChangedAsync" />
            <MainTableHeader Title="License End Date"
                             TitleWidth="12"
                             SortColumn="@nameof(Device.LicenseEndDate)"
                             CurrentSortedColumn="@SortedColumn"
                             SortedColumnChanged="SortedColumnChangedAsync"
                             SortDirectionChanged="SortDirectionChangedAsync" />
            <MainTableHeader Title="@nameof(Device.Employee)"
                             TitleWidth="12"
                             SortColumn="@nameof(Device.Employee.FullName)"
                             CurrentSortedColumn="@SortedColumn"
                             SortedColumnChanged="SortedColumnChangedAsync"
                             SortDirectionChanged="SortDirectionChangedAsync" />
            <MainTableHeader Title="Company"
        TitleWidth="12"
        SortColumn="@nameof(Device.Employee.EmpCompany)"
        CurrentSortedColumn="@SortedColumn"
        SortedColumnChanged="SortedColumnChangedAsync"
        SortDirectionChanged="SortDirectionChangedAsync" />
        </TableHeader>
        <TableRow>
            <td>
                <div class="custom-control custom-checkbox" @onclick:stopPropagation="true">
                    <input type="checkbox" class="custom-control-input" id="@context.Id" />
                    @*<input type="checkbox" class="custom-control-input" id="@context.Id" @bind="group.Checked" />*@
                    <label class="custom-control-label" for="@context.Id"></label>
                </div>
            </td>
            <td>
                @context.Id
            </td>
            <td>
                @context.MAC
            </td>
            <td>
                @if (context.Battery >= 30)
                {
                    <img src="/svg/device/battery_full.svg" alt="@context.Battery" />
                    <span>@context.Battery%</span>
                }
                else if (context.Battery >= 15 && context.Battery <= 30)
                {
                    <img src="/svg/device/battery_30.svg" alt="@context.Battery" />
                    <span>@context.Battery%</span>
                }
                else
                {
                    <img src="/svg/device/battery_15.svg" alt="@context.Battery" />
                    <span>@context.Battery%</span>
                }
            </td>
            <td>
                @context.Firmware
            </td>
            <td>
                @context.DeviceAccessProfile.Name
            </td>
            <td>
                <span class="@(context.IsOnline == true ? "state-connected" : "")">@context.Status</span>
            </td>
            <td>
                @if (context.LastSynced != null)
                {
                    <span class="d-none">@TimeZoneInfo.ConvertTimeFromUtc((DateTime)context.LastSynced, TimeZoneInfo.Local).Ticks</span>
                    @TimeZoneInfo.ConvertTimeFromUtc((DateTime)context.LastSynced, TimeZoneInfo.Local)
                }
            </td>
            <td>
                @context.LicenseStatus
            </td>
            <td>
                @if (context.LicenseEndDate != null)
                {
                    @context.LicenseEndDate.Value.ToShortDateString()
                }
            </td>
            <td>
                @if (context.Employee != null)
                {
                    @context.Employee.FullName
                }
            </td>
            <td>
                @if (context.Employee != null)
                {
                    @context.Employee.EmpCompany
                }
            </td>
        </TableRow>
    </MainTable>
    <Pagination CurrentPageChanged="CurrentPageChangedAsync"
                DisplayRowsChanged="DisplayRowsChangedAsync"
                TotalRecords="TotalRecords"
                CurrentPage="CurrentPage"
                DisplayRows="DisplayRows"
                DisplayRecords="HardwareVaults.Count" />
}
