@if (ActivationCodeString == null)
{
    <LoadingText />
}
else
{
    <div class="input-group">
        <input type="@(InputType)" id="activationCodeInput" value="@ActivationCodeString" readonly class="form-control">
        <div class="input-group-append" id="button-addon4">
            <button class="btn btn-outline-secondary" type="button" @onmousedown="@(() => InputType = "Text")" @onmouseup="@(() => InputType = "Password")">Show</button>
            <button class="btn btn-outline-secondary" type="button" @onclick="CopyToClipboardAsync">Copy</button>
        </div>
    </div>

    @if (!string.IsNullOrWhiteSpace(HardwareVault.Employee?.Email))
    {
        <div class="d-flex justify-content-sm-between mt-2">
            <span>Send to email <b>@HardwareVault.Employee.Email</b> ?</span>
            <button class="btn btn-primary" @onclick="SendOnEmailAsync">Send email</button>
        </div>
    }

    <div class="d-flex justify-content-end mt-3">
        <button class="btn btn-secondary" @onclick="CloseAsync">Close</button>
    </div>
}