@if (!Initialized)
{
    <LoadingText />
}
else
{
    if (EntityBeingEdited)
    {
        <EditedByAnother EntityName="workstation" CloseAction="ModalDialogService.CancelAsync" />
    }
    else
    {
        <EditForm Model="Workstation" OnValidSubmit="ApproveAsync">
            <h5 class="text-gray mb-4 ">You want to approve workstation @Workstation.Name?</h5>
            <div class="form-group">
                <label class="text-gray">Company</label>
                <select class="form-control text-navyblue" @onchange="CompanyChangedAsync">
                    <option selected></option>
                    @foreach (var item in Companies)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <FormLabel For="@(() => Workstation.DepartmentId)" class="text-gray" />
                <select class="form-control text-navyblue" @bind="Workstation.DepartmentId" >
                    @foreach (var item in Departments)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <label class="text-gray">Unlock settings</label>
            <ul class="list-group mb-4">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Has RFID
                    <div class="custom-control custom-switch">
                        <input id="hasRfid" type="checkbox" class="custom-control-input text-navyblue" @bind-value="Workstation.RFID">
                        <label class="custom-control-label" for="hasRfid"></label>
                    </div>
                </li>
            </ul>
            <div class="text-right">
                <button type="button" class="btn btn-secondary" @onclick="@(async () => await ModalDialogService.CancelAsync())">Cancel</button>
                <ButtonSpinner @ref="ButtonSpinner" Submit="true" Text="Approve" Class="btn btn-primary" />
            </div>
        </EditForm>
    }
}