@page "/Workstations/Details/{WorkstationId}"
@attribute [Authorize(Roles = ApplicationRoles.AdminRole)]
@inherits OwningComponentBase

@if (Initialized)
{
    <div class="row align-items-center details-card mb-3">
        <div class="col">
            <h1 class="text-navyblue text-break m-0">@Workstation.Name</h1>
        </div>
        <div class="col-auto pl-1">
            <ButtonSpinner Class="btn-primary" Text="Add Hardware Vault" Callback="OpenDialogAddHardwareVaultAsync" />
        </div>
    </div>
    <section>
        @if (MainTableService.Entities.Count > 0)
        {
            <TableAction>
                <ActionButtons>
                    <h4 class="text-navyblue mr-2">Proximity Vaults</h4>
                    @if (MainTableService.SelectedEntity != null)
                    {
                        <button type="button" @onclick="OpenDialogDeleteHardwareVaultAsync" class="btn btn-light border mx-2" title="Delete hardware vault">
                            <img class="icon-btn" src="/svg/action/delete.svg" />
                            Delete Hardware Vault
                        </button>
                    }
                </ActionButtons>
                <FilterButtons>
                    <TableFilter EnableFilterButton="false" SearchTextChanged="MainTableService.SearchTextChangedAsync" />
                </FilterButtons>
            </TableAction>

            <MainTable Items="MainTableService.Entities" SelectedItem="MainTableService.SelectedEntity" SelecedItemChanged="MainTableService.SelectedItemChangedAsync" Loading="MainTableService.Loading">
                <TableHeader>
                    <MainTableHeader Title="Hardware Vault"
                                     TitleWidth="25"
                                     SortColumn="@nameof(WorkstationProximityVault.HardwareVault)"
                                     CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                                     CurrentSortDirection="@MainTableService.DataLoadingOptions.SortDirection"
                                     SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                                     SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
                    <MainTableHeader Title="Employee"
                                     TitleWidth="25"
                                     SortColumn="@nameof(WorkstationProximityVault.HardwareVault.Employee)"
                                     CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                                     CurrentSortDirection="@MainTableService.DataLoadingOptions.SortDirection"
                                     SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                                     SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
                    <MainTableHeader Title="Company"
                                     TitleWidth="25"
                                     SortColumn="@nameof(WorkstationProximityVault.HardwareVault.Employee.Department.Company)"
                                     CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                                     CurrentSortDirection="@MainTableService.DataLoadingOptions.SortDirection"
                                     SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                                     SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
                    <MainTableHeader Title="Department"
                                     TitleWidth="25"
                                     SortColumn="@nameof(WorkstationProximityVault.HardwareVault.Employee.Department)"
                                     CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                                     CurrentSortDirection="@MainTableService.DataLoadingOptions.SortDirection"
                                     SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                                     SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
                </TableHeader>
                <TableRow>
                    <td>
                        @context.HardwareVaultId
                    </td>
                    <td>
                        @context.HardwareVault.Employee?.FullName
                    </td>
                    <td>
                        @context.HardwareVault.Employee?.Department?.Company?.Name
                    </td>
                    <td>
                        @context.HardwareVault.Employee?.Department?.Name
                    </td>
                </TableRow>
            </MainTable>
            <Pagination CurrentPageChanged="MainTableService.CurrentPageChangedAsync"
                        DisplayRowsChanged="MainTableService.DisplayRowsChangedAsync"
                        TotalRecords="MainTableService.TotalRecords"
                        CurrentPage="MainTableService.CurrentPage"
                        DisplayRows="MainTableService.DataLoadingOptions.Take"
                        DisplayRecords="MainTableService.Entities.Count" />
        }
    </section>
}
else if (LoadFailed)
{
    <LoadingFailed ErrorMessage="@ErrorMessage" />
}
else
{
    <LoadingPage />
}