@page "/alarm"
@layout EmptyLayout
@attribute [Authorize(Roles = ApplicationRoles.AdminRole)]

<Toast />

<div style="background: linear-gradient(to top, #081C33, #0E3059); width: 100%; height: 100vh;">
    <div class="container" style="height: 100vh; background-color: aliceblue;">
        <div class="row">
            <div class="col">
                @if (AlarmState != null && AlarmState.IsAlarm)
                {
                    <div>
                        <div>
                            <b>The alarm is turned on @AlarmState.DateTime by @AlarmState.AdminName </b>
                        </div>
                        <div class="mt-2">
                            <button type="button" @onclick="UnlockAllWorkstationsAsync" class="btn btn-success border mb-2" title="Unlock all workstations">
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-unlock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z" />
                                    <path fill-rule="evenodd" d="M8.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z" />
                                </svg>
                                Unlock all workstations
                            </button>
                        </div>
                    </div>
                }
                else
                {
                    @if (MainTableService.Entities == null)
                    {
                        <LoadingTab />
                    }
                    else
                    {
                        <div>
                            <b class="mt-1">Online Workstations</b> - @OnlineWorkstations
                            <b>All Workstations</b> -  @MainTableService.TotalRecords
                            <hr />
                        </div>

                        <button type="button" @onclick="BlockAllWorkstationsAsync" class="btn btn-danger border mb-2" title="Block all workstations">
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-lock-fill" fill="white" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z" />
                                <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z" />
                            </svg>
                            Block all workstations
                        </button>

                        <MainTable Items="MainTableService.Entities" SelectedItem="MainTableService.SelectedEntity" SelecedItemChanged="MainTableService.SelectedItemChangedAsync">
                            <TableHeader>
                                <MainTableHeader Title="Status"
                                                 TitleWidth="5"
                                                 SortColumn="@nameof(Workstation.LastSeen)"
                                                 CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                                                 CurrentSortDirection="@MainTableService.DataLoadingOptions.SortDirection"
                                                 SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                                                 SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
                                <MainTableHeader Title="Name"
                                                 TitleWidth="10"
                                                 SortColumn="@nameof(Workstation.Name)"
                                                 CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                                                 CurrentSortDirection="@MainTableService.DataLoadingOptions.SortDirection"
                                                 SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                                                 SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
                                <MainTableHeader Title="Domain"
                                                 TitleWidth="10"
                                                 SortColumn="@nameof(Workstation.Domain)"
                                                 CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                                                 CurrentSortDirection="@MainTableService.DataLoadingOptions.SortDirection"
                                                 SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                                                 SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
                                <MainTableHeader Title="Company"
                                                 TitleWidth="10"
                                                 SortColumn="@nameof(Workstation.Department.Company)"
                                                 CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                                                 CurrentSortDirection="@MainTableService.DataLoadingOptions.SortDirection"
                                                 SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                                                 SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
                                <MainTableHeader Title="Department"
                                                 TitleWidth="10"
                                                 SortColumn="@nameof(Workstation.Department)"
                                                 CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                                                 CurrentSortDirection="@MainTableService.DataLoadingOptions.SortDirection"
                                                 SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                                                 SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
                                <MainTableHeader Title="IP"
                                                 TitleWidth="10"
                                                 SortColumn="@nameof(Workstation.IP)"
                                                 CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                                                 CurrentSortDirection="@MainTableService.DataLoadingOptions.SortDirection"
                                                 SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                                                 SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
                            </TableHeader>
                            <TableRow>
                                <td>
                                    @if (context.IsOnline)
                                            {
                                        <span class="badge badge-success" title="Workstation is online">
                                            Online
                                        </span>
                                            }
                                            else
                                            {
                                        <span class="badge badge-danger" title="Workstation is offline">
                                            Offline
                                        </span>
                                            }
                                </td>
                                <td>
                                    @context.Name
                                </td>
                                <td>
                                    @context.Domain
                                </td>
                                <td>
                                    @context.Department?.Company?.Name
                                </td>
                                <td>
                                    @context.Department?.Name
                                </td>
                                <td>
                                    @context.IP
                                </td>
                            </TableRow>
                        </MainTable>
                        <Pagination CurrentPageChanged="MainTableService.CurrentPageChangedAsync"
                                    DisplayRowsChanged="MainTableService.DisplayRowsChangedAsync"
                                    TotalRecords="MainTableService.TotalRecords"
                                    CurrentPage="MainTableService.CurrentPage"
                                    DisplayRows="MainTableService.DataLoadingOptions.Take"
                                    DisplayRecords="MainTableService.Entities.Count" />
                    }
                }
            </div>
        </div>
    </div>
</div>