@if (!Initialized)
{
    <LoadingText />
}
else
{
    switch (ActiveDirectoryInitialization)
    {
        case ActiveDirectoryInitialization.HostNotSet:
            <h5>To import groups from the active directory, set domain settings on the parameters page.</h5>
            <div class="text-right  mt-4">
                <button type="button" class="btn btn-secondary btn-min-w" @onclick="@(async () => await ModalDialogService.CloseAsync())">Close</button>
            </div>
            break;
        case ActiveDirectoryInitialization.CredentialsNotSet:
            <HES.Web.Pages.Settings.Parameters.LdapCredentials Host="@LdapSettings.Host" LoadEntities="GetGroups" CancelRequested="ModalDialogService.CloseAsync" />
            break;
        case ActiveDirectoryInitialization.Loaded:
            <Alert Message="@WarningMessage" />
            <div class="alert alert-secondary px-3 py-2" role="alert">
                Selected @Groups.Where(x => x.Checked).Count() of @Groups.Count() groups.
            </div>
            <div class="has-search-right my-2">
                <div class="form-control-feedback">
                    <img class="img-size" src="/svg/action/search.svg" />
                </div>
                <input type="text" class="form-control" placeholder="Search" @bind="SearchText" @bind:event="oninput" />
            </div>
            <div class="table-responsive mb-3">
                <table class="table table-fixed-header table-hover border rounded mb-0 disable-selection">
                    <thead>
                        <tr class="cursor-pointer">
                            <th>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkAll" @onchange="@((e) => { Groups.ForEach(x => x.Checked = (bool)e.Value); })" />
                                    <label class="custom-control-label" for="checkAll"></label>
                                </div>
                            </th>
                            <th @onclick="@(() => SortTable(nameof(Group.Name)))">
                                @nameof(Group.Name)
                                <img class="table-sort-arrow @GetSortIcon(nameof(Group.Name))" />
                            </th>
                        </tr>
                    </thead>
                    <tbody style="max-height:48vh;">
                        @foreach (var group in Groups.Where(x => x.Group.Name.Contains(SearchText, StringComparison.OrdinalIgnoreCase) || x.Checked))
                        {
                            <tr @key="group.Group.Id" @onclick="@(() => { group.Checked = !group.Checked; })">
                                <td>
                                    <div class="custom-control custom-checkbox" @onclick:stopPropagation="true">
                                        <input type="checkbox" class="custom-control-input" id="@group.Group.Id" @bind="group.Checked" />
                                        <label class="custom-control-label" for="@group.Group.Id"></label>
                                    </div>
                                </td>
                                <td title="@group.Group.Description">
                                    @group.Group.Name
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card">
                <div class="card-body p-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="createEmployees" @bind="CreateEmployees" />
                        <label class="custom-control-label disable-selection" for="createEmployees">Create employees for selected groups</label>
                    </div>
                </div>
            </div>
            <div class="text-right mt-3">
                <button type="button" class="btn btn-secondary btn-min-w" @onclick="@(async () => await ModalDialogService.CloseAsync())">Cancel</button>
                <ButtonSpinner  Text="Add" Class="btn btn-primary" Callback="AddAsync" />      
            </div>
            break;
    }
}