@if (Groups == null)
{
    @if (_login.Server == null)
    {
        <h5>Set domain ip address in parameters page to connect the domain.</h5>
    }
    else
    {
        <h5>Enter your credentials</h5>
        <p>These credentials will be used to connect @_login.Server</p>
        <EditForm Model="@_login" OnValidSubmit="Connect">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label class="control-label text-gray">User Name</label>
                <InputText id="userName" @bind-Value="_login.UserName" class="form-control text-navyblue" />
                <ValidationMessage For="@(() => _login.UserName)" class="text-danger" />
            </div>
            <div class="form-group">
                <label class="control-label text-gray">Password</label>
                <InputText id="password" type="password" @bind-Value="_login.Password" class="form-control text-navyblue" />
                <ValidationMessage For="@(() => _login.Password)" class="text-danger" />
            </div>
            <div class="form-group text-right mb-0">
                <button type="button" class="btn btn-secondary" @onclick="@(async () => await ModalDialogService.CloseAsync())">Cancel</button>
                <button type="submit" class="btn btn-primary button-min-width">
                    <span class="spinner-border spinner-border-sm @(_isBusy == true ? "" : "d-none")" role="status" aria-hidden="true"></span>
                    <span>Connect</span>
                </button>
            </div>
        </EditForm>
    }
}
else
{
    <Alert Message="@_warningMessage" />
    <ShortTable Items="@Groups" CollectionChanged="CollectionChanged">
        <TableHeader>
            <th>
                Name
            </th>
        </TableHeader>
        <TableRow Context="group">
            <td title="@group.Group.Description">
                @group.Group.Name
            </td>
        </TableRow>
    </ShortTable>
    <div class="mb-2 mx-1 custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="createEmployees" @bind="_createEmployees" />
        <label class="custom-control-label disable-selection" for="createEmployees">Create employees for selected groups</label>
    </div>
    <div class="text-right">
        <button type="button" class="btn btn-secondary button-min-width" @onclick="@(async () => await ModalDialogService.CloseAsync())">Cancel</button>
        <button type="button" @onclick="AddAsync" class="btn btn-primary button-min-width">
            <span class="spinner-border spinner-border-sm @(_isBusy == true ? "" : "d-none")" role="status" aria-hidden="true"></span>
            <span>Add</span>
        </button>
    </div>
}