@inherits OwningComponentBase

@if (Group == null)
{
    <LoadingText />
}
else
{
    if (EntityBeingEdited)
    {
        <EditedByAnother EntityName="group" CloseAction="ModalDialogService.CancelAsync" />
    }
    else
    {
        <EditForm Model="@Group" OnValidSubmit="EditAsync">
            <DataAnnotationsValidator />
            <ValidationErrorMessage @ref="ValidationErrorMessage" />
            <div class="form-group">
                <FormLabel For="@(() => Group.Name)" class="text-gray" />
                <InputText @bind-Value="Group.Name" class="form-control text-navyblue" />
                <ValidationMessage For="@(() => Group.Name)" class="text-danger" />
            </div>
            <div class="form-group">
                <FormLabel For="@(() => Group.Email)" class="text-gray" />
                <InputText @bind-Value="Group.Email" class="form-control text-navyblue" />
                <ValidationMessage For="@(() => Group.Email)" class="text-danger" />
            </div>
            <div class="form-group">
                <FormLabel For="@(() => Group.Description)" class="text-gray" />
                <InputTextArea @bind-Value="Group.Description" class="form-control text-navyblue" rows="3" />
                <ValidationMessage For="@(() => Group.Description)" class="text-danger" />
            </div>
            <label class="control-label text-gray">Group settings</label>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Auto AD password change when expired
                    <div class="custom-control custom-switch">
                        <input id="autoPwdChange" type="checkbox" class="custom-control-input" @bind="Group.ChangePasswordWhenExpired">
                        <label class="custom-control-label" for="autoPwdChange"></label>
                    </div>
                </li>
            </ul>
            <div class="text-right mt-4">
                <button type="button" class="btn btn-secondary" @onclick="@(async () => await ModalDialogService.CancelAsync())">Cancel</button>
                <ButtonSpinner @ref="ButtonSpinner" Submit="true" Text="Save" Class="btn btn-primary" />
            </div>
        </EditForm>
    }
}