@using HES.Web.Components

@if (Groups == null)
{
    <LoadingSpinner />
}
else
{
    <div class="d-flex justify-content-between align-items-center mb-2">
        <h1 class="text-navyblue">Groups</h1>
        <div>
            <button type="button" class="btn btn-primary" @onclick="OpenModalAddGroup">
                Add from AD
            </button>
            <button type="button" class="btn btn-primary" @onclick="OpenModalGreateGroup">
                Create group
            </button>
        </div>
    </div>
    <div class="d-flex justify-content-end align-items-center mb-3">
        <button class="btn btn-light m-1 p-1" title="Details" @onclick="GroupDetails" disabled="@(CurrentGroupId == null ? true : false)">
            <img style="width:32px;height:32px;" src="/svg/action/details.svg" />
        </button>
        <button class="btn btn-light m-1 p-1" title="Edit Group" @onclick="OpenModalEditGroup" disabled="@(CurrentGroupId == null ? true : false)">
            <img style="width:32px;height:32px;" src="/svg/action/edit.svg" />
        </button>
        <button class="btn btn-light m-1 p-1" title="Delete Group" @onclick="OpenModalDeleteGroup" disabled="@(CurrentGroupId == null ? true : false)">
            <img style="width:32px;height:32px;" src="/svg/action/delete.svg" />
        </button>
        <div class="form-group has-search-right mb-0 ml-3">
            <div class="form-control-feedback">
                <img class="img-size" src="/svg/action/search.svg" />
            </div>
            <input @bind-value="SearchString" @bind-value:event="oninput" @onkeyup="@HandleKeyUp" type="text" class="form-control" placeholder="Search">
        </div>
    </div>
    <div class="table-responsive mb-3">
        <table id="groups" class="table table-hover border rounded w-100 mb-0">
            <thead style="user-select: none; ">
                <tr>
                    <th @onclick="@(() => SortTable("Name"))">
                        Name
                        <img class="sort-arrow @SetSortIcon("Name")" />
                    </th>
                    <th @onclick="@(() => SortTable("Email"))">
                        Email
                        <img class="sort-arrow @SetSortIcon("Email")" />
                    </th>
                    <th>
                        Employees
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Groups)
                {
                    <tr @onclick="(() => OnRowSelected(item.Id))" @ondblclick="GroupDetails" class="table-row @(CurrentGroupId == item.Id ? "selected-row" : string.Empty)">
                        <td title="@item.Description">
                            @item.Name
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            @item.GroupMemberships.Count
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <Pagination DisplayRecordsSelector="true"
                DisplayTotalRecordsInfo="true"
                SelectedPageAsync="RefreshTable"
                TotalRecords="TotalRecords" />
}