@using HES.Web.Components

@if (Groups == null)
{
    <LoadingPage />
}
else
{
    <TableAction>
        <FilterForm>
            <GroupsFilter FilterChanged="FilterChangedAsync" />
        </FilterForm>
        <ActionButtons>
            <button type="button" class="btn btn-primary my-1 mr-2" @onclick="OpenModalAddGroupAsync">
                Add from AD
            </button>
            <button type="button" class="btn btn-primary my-1 mr-2" @onclick="OpenModalCreateGroupAsync">
                Create group
            </button>
            <button type="button" class="btn btn-light border my-1 mr-2 @(SelectedGroup == null ? "d-none" : null)" title="Details" @onclick="NavigateToGroupDetails">
                <img class="icon-btn" src="/svg/action/details.svg" />
                Details
            </button>
            <button type="button" class="btn btn-light border my-1 mr-2 @(SelectedGroup == null ? "d-none" : null)" title="Edit Group" @onclick="OpenModalEditGroupAsync">
                <img class="icon-btn" src="/svg/action/edit.svg" />
                Edit
            </button>
            <button type="button" class="btn btn-light border my-1 mr-2 @(SelectedGroup == null ? "d-none" : null)" title="Delete Group" @onclick="OpenModalDeleteGroupAsync">
                <img class="icon-btn" src="/svg/action/delete.svg" />
                Delete
            </button>
        </ActionButtons>
        <FilterButtons>
            <TableFilter SearchTextChanged="SearchTextChangedAsync" />
        </FilterButtons>
    </TableAction>
    <MainTable Items="Groups" SelectedItem="@SelectedGroup" SelecedItemChanged="SelectedItemChangedAsync" SelecedItemDblClick="NavigateToGroupDetails">
        <TableHeader>
            <MainTableHeader Title="Name"
                             TitleWidth="70"
                             SortColumn="@nameof(Group.Name)"
                             CurrentSortedColumn="@SortedColumn"
                             SortedColumnChanged="SortedColumnChangedAsync"
                             SortDirectionChanged="SortDirectionChangedAsync" />
            <MainTableHeader Title="Email"
                             TitleWidth="20"
                             SortColumn="@nameof(Group.Email)"
                             CurrentSortedColumn="@SortedColumn"
                             SortedColumnChanged="SortedColumnChangedAsync"
                             SortDirectionChanged="SortDirectionChangedAsync" />
            <MainTableHeader Title="Employees"
                             TitleWidth="10"
                             SortColumn="@nameof(Group.GroupMemberships)"
                             CurrentSortedColumn="@SortedColumn"
                             SortedColumnChanged="SortedColumnChangedAsync"
                             SortDirectionChanged="SortDirectionChangedAsync" />
        </TableHeader>
        <TableRow>
            <td title="@context.Description">
                @context.Name
            </td>
            <td>
                @context.Email
            </td>
            <td>
                @context.GroupMemberships.Count
            </td>
        </TableRow>
    </MainTable>
    <Pagination CurrentPageChanged="CurrentPageChangedAsync"
                DisplayRowsChanged="DisplayRowsChangedAsync"
                TotalRecords="TotalRecords"
                CurrentPage="CurrentPage"
                DisplayRows="DisplayRows"
                DisplayRecords="Groups.Count" />
}