@if (GroupEmployees == null)
{
    <span>Loading</span>
}
else
{
    <EditForm Model="GroupEmployees" OnValidSubmit="SaveAsync">
        <table id="employees" class="table table-hover border rounded w-100 disable-selection">
            <thead>
                <tr>
                    <th class="checkbox-column">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkAll" @onchange="OnChangeCheckAll">
                            <label class="custom-control-label" for="checkAll"></label>
                        </div>
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var member in GroupEmployees)
                {
                    <tr @onclick="@(() => RowSelected(member.Employee.Id))">
                        <td>
                            <div class="custom-control custom-checkbox" @onclick:stopPropagation="true">
                                <input type="checkbox" class="custom-control-input" id="@member.Employee.Id" @bind="member.InGroup" />
                                <label class="custom-control-label" for="@member.Employee.Id"></label>
                            </div>
                        </td>
                        <td>
                            @member.Employee.FullName
                        </td>
                        <td>
                            @member.Employee.Email
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="form-group text-right mb-0">
            <button type="button" class="btn btn-secondary" @onclick="@(async () => await MainWrapper.ModalDialogComponent.CloseAsync())">Cancel</button>
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </EditForm>
}