@page "/Alarm"
@attribute [Authorize(Roles = ApplicationRoles.AdminRole)]

@if (AlarmState == null)
{
    <LoadingPage />

}
else
{
    @if (AlarmState.IsAlarm)
    {
        <div class="card mb-3">
            <div class="card-body text-center text-sm-left">
                <button type="button" @onclick="DisableAlarmAsync" class="btn btn-success" title="Unlock all workstations">
                    <img src="/svg/icon-lock-open.svg" />
                    Turn off alarm
                </button>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h4>The alarm is turned on @AlarmState.DateTime by @AlarmState.AdminName</h4>
            </div>
        </div>
    }
    else
    {
        <div class="card mb-3">
            <div class="card-body text-center text-sm-left">
                <button type="button" @onclick="EnableAlarmAsync" class="btn btn-danger" title="Lock all workstations">
                    <img src="/svg/icon-lock.svg" />
                    Turn on alarm
                </button>
            </div>
        </div>
    }
    <h4 class="text-navyblue">Workstations</h4>
    @if (MainTableService.Entities == null)
    {
        <LoadingText />
    }
    else
    {
        <MainTable Items="MainTableService.Entities" SelectedItem="MainTableService.SelectedEntity" SelecedItemChanged="MainTableService.SelectedItemChangedAsync">
            <TableHeader>
                <MainTableHeader Title="Status"
                                 TitleWidth="5"
                                 SortColumn="@nameof(Workstation.LastSeen)"
                                 CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                                 CurrentSortDirection="@MainTableService.DataLoadingOptions.SortDirection"
                                 SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                                 SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
                <MainTableHeader Title="Name"
                                 TitleWidth="10"
                                 SortColumn="@nameof(Workstation.Name)"
                                 CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                                 CurrentSortDirection="@MainTableService.DataLoadingOptions.SortDirection"
                                 SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                                 SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
                <MainTableHeader Title="Domain"
                                 TitleWidth="10"
                                 SortColumn="@nameof(Workstation.Domain)"
                                 CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                                 CurrentSortDirection="@MainTableService.DataLoadingOptions.SortDirection"
                                 SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                                 SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
                <MainTableHeader Title="IP"
                                 TitleWidth="10"
                                 SortColumn="@nameof(Workstation.IP)"
                                 CurrentSortedColumn="@MainTableService.DataLoadingOptions.SortedColumn"
                                 CurrentSortDirection="@MainTableService.DataLoadingOptions.SortDirection"
                                 SortedColumnChanged="MainTableService.SortedColumnChangedAsync"
                                 SortDirectionChanged="MainTableService.SortDirectionChangedAsync" />
            </TableHeader>
            <TableRow>
                <td>
                    @if (context.IsOnline)
                            {
                        <span class="badge badge-success" title="Workstation is online">
                            Online
                        </span>
                            }
                            else
                            {
                        <span class="badge badge-danger" title="Workstation is offline">
                            Offline
                        </span>
                            }
                </td>
                <td>
                    @context.Name
                </td>
                <td>
                    @context.Domain
                </td>
                <td>
                    @context.IP
                </td>
            </TableRow>
        </MainTable>
        <Pagination CurrentPageChanged="MainTableService.CurrentPageChangedAsync"
                    DisplayRowsChanged="MainTableService.DisplayRowsChangedAsync"
                    TotalRecords="MainTableService.TotalRecords"
                    CurrentPage="MainTableService.CurrentPage"
                    DisplayRows="MainTableService.DataLoadingOptions.Take"
                    DisplayRecords="MainTableService.Entities.Count" />
    }
}
