@if (VaultProfiles == null)
{
    <LoadingText />
}
else
{
    <div class="alert alert-success" role="alert">
        Change access profile for <b>@HardwareVaultId</b> vault?
    </div>
    <div>
        <label class="mb-0 text-gray">Hardware vault profile</label>
        <select id="filterStatus" @bind="SelectedVaultProfileId" class="form-control">
            @foreach (var item in VaultProfiles)
            {
                @if (item == VaultProfiles.First())
                {
                    <option selected value="@item.Value">@item.Text</option>
                }
                else
                {
                    <option value="@item.Value">@item.Text</option>
                }
            }
        </select>
    </div>
    <div class="d-flex justify-content-end mt-3">
        <button class="btn btn-secondary mr-2" @onclick="CloseAsync">Cancel</button>
        <input type="submit" class="btn btn-primary button-min-width" @onclick="ChangeProfileAsync" value="Change" />
    </div>
}