@if (VaultProfiles == null)
{
    <LoadingText />
}
else
{
    if (EntityBeingEdited)
    {
        <EditedByAnother EntityName="hardware vault" CloseAction="ModalDialogService.CancelAsync" />
    }
    else
    {
        <div class="alert alert-success rounded-0" role="alert" style="margin-left:-16px; margin-right:-16px">
            Change access profile for <b>@HardwareVault.Id</b> vault?
        </div>
        <div>
            <label class="mb-0 text-gray">Hardware vault profile</label>
            <select id="filterStatus" @bind="SelectedVaultProfileId" class="form-control">
                @foreach (var item in VaultProfiles)
                {
                    @if (item == VaultProfiles.First())
                    {
                        <option selected value="@item.Value">@item.Text</option>
                    }
                    else
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                }
            </select>
        </div>
        <div class="d-flex justify-content-end mt-3">
            <button class="btn btn-secondary mr-2" @onclick="ModalDialogService.CancelAsync">Cancel</button>
            <ButtonSpinner Text="Change" Class="btn btn-primary btn-min-w" Callback="ChangeProfileAsync" />
        </div>
    }
}