@if (!Initialized)
{
    <LoadingText />
}
else
{
    switch (ActiveDirectoryInitialization)
    {
        case ActiveDirectoryInitialization.HostNotSet:
            <h5>To import users from the active directory, set domain settings on the parameters page.</h5>
            <div class="text-right  mt-4">
                <button type="button" class="btn btn-secondary btn-min-w" @onclick="@(async () => await ModalDialogService.CloseAsync())">Close</button>
            </div>
            break;
        case ActiveDirectoryInitialization.CredentialsNotSet:
            <HES.Web.Pages.Settings.Parameters.LdapCredentials Host="@LdapSettings.Host" LoadEntities="GetUsers" CancelRequested="ModalDialogService.CloseAsync" />
            break;
        case ActiveDirectoryInitialization.Loaded:
            <Alert Message="@WarningMessage" />
            <div class="alert alert-secondary px-3 py-2" role="alert">
                Selected @Users.Where(x => x.Checked).Count() of @Users.Count() users.
            </div>
            <div class="has-search-right my-2">
                <div class="form-control-feedback">
                    <img class="img-size" src="/svg/action/search.svg" />
                </div>
                <input type="text" class="form-control" placeholder="Search" @bind="SearchText" @bind:event="oninput" />
            </div>
            <div class="table-responsive mb-3">
                <table class="table table-fixed-header table-hover border rounded mb-0 disable-selection">
                    <thead>
                        <tr class="cursor-pointer">
                            <th>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkAll" @onchange="@((e) => { Users.ForEach(x => x.Checked = (bool)e.Value); })" />
                                    <label class="custom-control-label" for="checkAll"></label>
                                </div>
                            </th>
                            <th @onclick="@(() => SortTable(nameof(Employee.FullName)))">
                                <span class="w-100">
                                    Name
                                </span>
                                <img class="table-sort-arrow @GetSortIcon(nameof(Employee.FullName))" />
                            </th>
                        </tr>
                    </thead>
                    <tbody style="max-height:48vh;">
                        @foreach (var user in Users.Where(x => x.Employee.FullName.Contains(SearchText, StringComparison.OrdinalIgnoreCase) || x.Checked))
                        {
                            <tr @key="user.Employee.Id" @onclick="@(() => { user.Checked = !user.Checked; })">
                                <td>
                                    <div class="custom-control custom-checkbox" @onclick:stopPropagation="true">
                                        <input type="checkbox" class="custom-control-input" id="@user.Employee.Id" @bind="user.Checked" />
                                        <label class="custom-control-label" for="@user.Employee.Id"></label>
                                    </div>
                                </td>
                                <td>
                                    @user.Employee.FullName
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>            
            <div class="card">
                <div class="card-body p-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="createGroup" @bind="CreateGroups" />
                        <label class="custom-control-label disable-selection" for="createGroup">Create groups for selected users</label>
                    </div>
                </div>
            </div>
            <div class="text-right mt-3">
                <button type="button" class="btn btn-secondary btn-min-w" @onclick="@(async () => await ModalDialogService.CloseAsync())">Cancel</button>
                <ButtonSpinner Text="Create" Class="btn btn-primary btn-min-w" Callback="AddAsync" />        
            </div>
            break;
    }
}