@if (ActiveDirectoryUsers == null)
{
    @if (_login.Server == null)
    {
        <h5>Set domain ip address in parameters page to connect the domain.</h5>
    }
    else
    {
        <h5>Enter your credentials</h5>
        <p>These credentials will be used to connect @_login.Server</p>
        <EditForm Model="@_login" OnValidSubmit="Connect">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label class="control-label text-gray">User Name</label>
                <InputText id="userName" @bind-Value="_login.UserName" class="form-control text-navyblue" />
                <ValidationMessage For="@(() => _login.UserName)" class="text-danger" />
            </div>
            <div class="form-group">
                <label class="control-label text-gray">Password</label>
                <InputText id="password" type="password" @bind-Value="_login.Password" class="form-control text-navyblue" />
                <ValidationMessage For="@(() => _login.Password)" class="text-danger" />
            </div>
            <div class="form-group text-right mb-0">
                <button type="button" class="btn btn-secondary" @onclick="@(async () => await ModalDialogService.CloseAsync())">Cancel</button>
                <input type="submit" value="Connect" class="btn btn-primary" />
            </div>
        </EditForm>
    }
}
else
{
    <table id="groups" class="table table-hover border rounded w-100 disable-selection">
        <thead>
            <tr>
                <th class="checkbox-column">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="checkAll" @onchange="OnChangeCheckAll" />
                        <label class="custom-control-label" for="checkAll"></label>
                    </div>
                </th>
                <th>
                    Name
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in ActiveDirectoryUsers)
            {
                <tr @onclick="@(() => OnRowSelected(user.Key))">
                    <td>
                        <div class="custom-control custom-checkbox" @onclick:stopPropagation="true">
                            <input type="checkbox" class="custom-control-input" id="@user.Key.Employee.Id" @onclick="@(() => OnRowSelected(user.Key))" checked="@user.Value" />
                            <label class="custom-control-label" for="@user.Key.Employee.Id"></label>
                        </div>
                    </td>
                    <td>
                        @user.Key.Employee.FullName
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (_notSelected)
    {
        <div class="alert alert-danger" role="alert">
            No user selected
        </div>
    }
    <div class="form-group text-right mb-0">
        <button type="button" class="btn btn-secondary" @onclick="@(async () => await ModalDialogService.CloseAsync())">Cancel</button>
        <button type="submit" class="btn btn-primary" @onclick="AddAsync">
            <span class="spinner-border spinner-border-sm @(_isBusy == true ? "" : "d-none")" role="status" aria-hidden="true"></span>
            <span>Add</span>
        </button>
    </div>
}