@if (!Initialized)
{
    <LoadingText />
}
else
{
    <div class="wizard-header mb-3">
        <div class="wizard wizard-horizontal wizard-label-vertical wizard-circle">
            <div class="wizard-item @(WizardStep == WizardStep.Profile ? "wizard-item-process" : null) @(WizardStep != WizardStep.Profile && WizardStep > WizardStep.Profile ? "wizard-item-finish" : null)">
                <div class="wizard-item-tail"></div>
                <div class="wizard-item-icon">
                    <span class="wizard-icon">
                        <span class="wizard-icon-circle">
                        </span>
                    </span>
                </div>
                <div class="wizard-item-content">
                    <div class="wizard-item-title">Profile</div>
                </div>
            </div>
            <div class="wizard-item wizard-item-wait @(WizardStep == WizardStep.HardwareVault ? "wizard-item-process" : null) @(WizardStep != WizardStep.HardwareVault && WizardStep > WizardStep.HardwareVault ? "wizard-item-finish" : null)">
                <div class="wizard-item-tail"></div>
                <div class="wizard-item-icon">
                    <span class="wizard-icon">
                        <span class="wizard-icon-circle">
                        </span>
                    </span>
                </div>
                <div class="wizard-item-content">
                    <div class="wizard-item-title">Hardware Vault</div>
                </div>
            </div>
            <div class="wizard-item wizard-item-wait @(WizardStep == WizardStep.WorkstationAccount ? "wizard-item-process" : null) @(WizardStep != WizardStep.WorkstationAccount && WizardStep > WizardStep.WorkstationAccount ? "wizard-item-finish" : null)">
                <div class="wizard-item-tail"></div>
                <div class="wizard-item-icon">
                    <span class="wizard-icon">
                        <span class="wizard-icon-circle">
                        </span>
                    </span>
                </div>
                <div class="wizard-item-content">
                    <div class="wizard-item-title">Account</div>
                </div>
            </div>
            <div class="wizard-item wizard-item-wait @(WizardStep == WizardStep.Overview ? "wizard-item-process" : null) @(WizardStep != WizardStep.Overview && WizardStep > WizardStep.Overview ? "wizard-item-finish" : null)">
                <div class="wizard-item-tail"></div>
                <div class="wizard-item-icon">
                    <span class="wizard-icon">
                        <span class="wizard-icon-circle">
                        </span>
                    </span>
                </div>
                <div class="wizard-item-content">
                    <div class="wizard-item-title">Overview</div>
                </div>
            </div>
            <div class="wizard-item wizard-item-wait @(WizardStep == WizardStep.Activation ? "wizard-item-process" : null) @(WizardStep != WizardStep.Activation && WizardStep > WizardStep.Activation ? "wizard-item-finish" : null)">
                <div class="wizard-item-tail"></div>
                <div class="wizard-item-icon">
                    <span class="wizard-icon">
                        <span class="wizard-icon-circle">
                        </span>
                    </span>
                </div>
                <div class="wizard-item-content">
                    <div class="wizard-item-title">Activation</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Employee -->
    <div class="wizard-tab @(WizardStep != WizardStep.Profile ? "d-none" : null)">
        <EditForm EditContext="@EmployeeContext">
            <DataAnnotationsValidator />
            <ValidationErrorMessage @ref="EmployeeValidationErrorMessage" />
            <div class="row">
                <div class="form-group col">
                    <label class="control-label text-gray">First Name</label>
                    <InputText @bind-Value="Employee.FirstName" class="form-control text-navyblue" />
                    <ValidationMessage For="@(() => Employee.FirstName)" class="text-danger" />
                </div>
                <div class="form-group col">
                    <label class="control-label text-gray">Last Name</label>
                    <InputText @bind-Value="Employee.LastName" class="form-control text-navyblue" />
                    <ValidationMessage For="@(() => Employee.LastName)" class="text-danger" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label class="control-label text-gray">Email</label>
                    <InputText @bind-Value="Employee.Email" class="form-control text-navyblue" />
                    <ValidationMessage For="@(() => Employee.Email)" class="text-danger" />
                </div>
                <div class="form-group col">
                    <label class="control-label text-gray">Phone Number</label>
                    <InputText @bind-Value="Employee.PhoneNumber" class="form-control text-navyblue" />
                    <ValidationMessage For="@(() => Employee.PhoneNumber)" class="text-danger" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label class="control-label text-gray">Company</label>
                    <select class="form-control" @onchange="CompanyChangedAsync">
                        <option selected></option>
                        @foreach (var item in Companies)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group col">
                    <label class="control-label text-gray">Department</label>
                    <select @bind="Employee.DepartmentId" class="form-control">
                        @foreach (var item in Departments)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label class="control-label text-gray">Position</label>
                    <select @bind="Employee.PositionId" class="form-control">
                        <option selected></option>
                        @foreach (var item in Positions)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="col"></div>
            </div>
        </EditForm>
    </div>
    <!-- Hardware Vault -->
    <div class="wizard-tab @(WizardStep != WizardStep.HardwareVault ? "d-none" : null)">
        <div class="row justify-content-center">
            <div class="col col-sm-6">
                <Alert Message="@WarningMessage" />
                <TableFilter EnableFilterButton="false" SearchTextChanged="SearchTextChangedAsync" />
                <div class="list-group my-3 py-1 overflow-auto" style="max-height: 300px">
                    @foreach (var hardwareVault in HardwareVaults)
                    {
                        <button class="list-group-item list-group-item-action @(hardwareVault.Id == SelectedHardwareVault?.Id ? "active": string.Empty)" @onclick="async () => await SelectedItemChangedAsync(hardwareVault)">
                            @hardwareVault.Id
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- Workstation Account -->
    <div class="wizard-tab  @(WizardStep != WizardStep.WorkstationAccount ? "d-none" : null)">
        @if (SharedAccounts.Count > 0)
        {
            <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab-accounts" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active ws-account-nav" id="pills-personal-tab" data-toggle="pill" href="#pills-personal" role="tab" @onclick="@(()=> AccountTypeChanged(AccountType.Personal))">Personal account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ws-account-nav" id="pills-shared-tab" data-toggle="pill" href="#pills-shared" role="tab" @onclick="@(()=> AccountTypeChanged(AccountType.Shared))">Shared account</a>
                </li>
            </ul>
        }
        <div class="tab-content">
            <div class="tab-pane fade show active" id="pills-personal" role="tabpanel">
                <div class="row">
                    <div class="col col-sm-6 offset-md-3">
                        <div class="form-group">
                            <label class="control-label text-gray">Select workstation account type</label>
                            <select class="form-control" @bind="WorkstationType">
                                <option selected value="@Core.Enums.WorkstationAccountType.Local">Local</option>
                                <option value="@Core.Enums.WorkstationAccountType.Domain">Domain</option>
                                <option value="@Core.Enums.WorkstationAccountType.AzureAD">AzureAD</option>
                                <option value="@Core.Enums.WorkstationAccountType.Microsoft">Microsoft</option>
                            </select>
                        </div>
                    </div>
                </div>
                @switch (WorkstationType)
                {
                    case Core.Enums.WorkstationAccountType.Local:
                    case Core.Enums.WorkstationAccountType.Microsoft:
                    case Core.Enums.WorkstationAccountType.AzureAD:
                        <EditForm EditContext="WorkstationAccountContext">
                            <DataAnnotationsValidator />
                            <div class="row">
                                <div class="form-group col col-sm-6 offset-md-3">
                                    <label class="control-label text-gray">Account Name</label>
                                    <InputText @bind-Value="WorkstationAccount.Name" class="form-control text-navyblue" />
                                    <ValidationMessage For="@(() => WorkstationAccount.Name)" class="text-danger" />
                                </div>
                                <div class="form-group col col-sm-6 offset-md-3">
                                    <label class="control-label text-gray">User Logon Name</label>
                                    <InputText @bind-Value="WorkstationAccount.UserName" class="form-control text-navyblue" />
                                    <ValidationMessage For="@(() => WorkstationAccount.UserName)" class="text-danger" />
                                </div>
                                <div class="form-group col col-sm-6 offset-md-3">
                                    <label class="control-label text-gray">Password</label>
                                    <InputText @bind-Value="WorkstationAccount.Password" type="password" class="form-control text-navyblue" />
                                    <ValidationMessage For="@(() => WorkstationAccount.Password)" class="text-danger" />
                                </div>
                                <div class="form-group col col-sm-6 offset-md-3">
                                    <label class="control-label text-gray">Confirm Password</label>
                                    <InputText @bind-Value="WorkstationAccount.ConfirmPassword" type="password" class="form-control text-navyblue" />
                                    <ValidationMessage For="@(() => WorkstationAccount.ConfirmPassword)" class="text-danger" />
                                </div>
                            </div>
                        </EditForm>
                        break;
                    case Core.Enums.WorkstationAccountType.Domain:
                        <EditForm EditContext="WorkstationDomainContext">
                            <DataAnnotationsValidator />
                            <div class="row">
                                <div class="form-group col col-sm-6 offset-md-3">
                                    <label class="control-label text-gray">Account Name</label>
                                    <InputText @bind-Value="WorkstationDomain.Name" class="form-control text-navyblue" />
                                    <ValidationMessage For="@(() => WorkstationDomain.Name)" class="text-danger" />
                                </div>
                                <div class="form-group col col-sm-6 offset-md-3">
                                    <label class="control-label text-gray">Domain</label>
                                    <InputText @bind-Value="WorkstationDomain.Domain" class="form-control text-navyblue" />
                                    <ValidationMessage For="@(() => WorkstationDomain.Domain)" class="text-danger" />
                                </div>
                                <div class="form-group col col-sm-6 offset-md-3">
                                    <label class="control-label text-gray">User Logon Name</label>
                                    <InputText @bind-Value="WorkstationDomain.UserName" class="form-control text-navyblue" />
                                    <ValidationMessage For="@(() => WorkstationDomain.UserName)" class="text-danger" />
                                </div>
                                <div class="form-group col col-sm-6 offset-md-3">
                                    <label class="control-label text-gray">Password</label>
                                    <InputText @bind-Value="WorkstationDomain.Password" type="password" class="form-control text-navyblue" />
                                    <ValidationMessage For="@(() => WorkstationDomain.Password)" class="text-danger" />
                                </div>
                                <div class="form-group col col-sm-6 offset-md-3">
                                    <label class="control-label text-gray">Confirm Password</label>
                                    <InputText @bind-Value="WorkstationDomain.ConfirmPassword" type="password" class="form-control text-navyblue" />
                                    <ValidationMessage For="@(() => WorkstationDomain.ConfirmPassword)" class="text-danger" />
                                </div>
                            </div>
                        </EditForm>
                        break;
                }
            </div>
            @if (SharedAccounts.Count > 0)
            {
                <div class="tab-pane fade" id="pills-shared" role="tabpanel">
                    <div class="row">
                        <div class="col col-sm-6 offset-md-3">
                            <label class="control-label text-gray">Workstation Shared Accounts</label>
                            <select @bind="SharedAccountId" class="form-control">
                                @foreach (var item in SharedAccounts)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- Overview -->
    <div class="wizard-tab @(WizardStep != WizardStep.Overview ? "d-none" : null)">
        <div class="row">
            <!-- Employee -->
            <div class="col">
                <h4 class="mx-2 text-navyblue">Employee</h4>
                <div class="border rounded py-2 px-3">
                    <div class="font-weight-bold">Full Name</div>
                    <div class="text-break overflow-hidden text-truncate" style="max-width:200px;">@Employee.FullName</div>
                    <div class="font-weight-bold">Company</div>
                    <div>@(string.IsNullOrEmpty(Employee.DepartmentId) ? "" : Departments.FirstOrDefault(x=>x.Id == Employee.DepartmentId).Company.Name)</div>
                    <div class="font-weight-bold">Department</div>
                    <div>@(string.IsNullOrEmpty(Employee.DepartmentId) ? "" : Departments.FirstOrDefault(x=>x.Id == Employee.DepartmentId).Name)</div>
                    <div class="font-weight-bold">Position</div>
                    <div>@(string.IsNullOrEmpty(Employee.PositionId) ? "" : Positions.FirstOrDefault(x=>x.Id == Employee.PositionId).Name)</div>
                </div>
            </div>
            <!-- Hardware Vault -->
            <div class="col">
                <h4 class="mx-2 text-navyblue">Hardware Vault</h4>
                <div class="border rounded py-2 px-3">
                    <div class="font-weight-bold">Serial number</div>
                    <div>@SelectedHardwareVault?.Id</div>
                </div>
            </div>
            <!-- Workstation Account -->
            <div class="col">
                <h4 class="mx-2 text-navyblue">Account</h4>
                @if (AccountType == AccountType.Personal)
                {
                    @if (WorkstationType == WorkstationAccountType.Domain)
                    {
                        <div class="border rounded py-2 px-3">
                            <div class="font-weight-bold">Account name</div>
                            <div>@(AccountSkiped ? "" : WorkstationDomain.Name)</div>
                            <div class="font-weight-bold">User name</div>
                            <div>@(AccountSkiped ? "" : WorkstationDomain.UserName)</div>
                        </div>
                    }
                    else
                    {
                        <div class="border rounded py-2 px-3">
                            <div class="font-weight-bold">Account name</div>
                            <div>@(AccountSkiped ? "" : WorkstationAccount.Name)</div>
                            <div class="font-weight-bold">User name</div>
                            <div>@(AccountSkiped ? "" : WorkstationAccount.UserName)</div>
                        </div>
                    }
                }
                else
                {
                    <div class="border rounded py-2 px-3">
                        <div class="font-weight-bold">Account name</div>
                        <div>@(SharedAccountId == null ? "" : SharedAccounts.FirstOrDefault(x=>x.Id == SharedAccountId).Name)</div>
                        <div class="font-weight-bold">User name</div>
                        <div>@(SharedAccountId == null ? "" : SharedAccounts.FirstOrDefault(x => x.Id == SharedAccountId).Login)</div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Activation -->
    <div class="wizard-tab @(WizardStep != WizardStep.Activation ? "d-none" : null)">
        <div class="row justify-content-center">
            <div class="col col-sm-6">
                <div class="form-group">
                    <label class="control-label font-weight-bold">Employee - @Employee.FullName</label>
                    <br />
                    <label class="control-label font-weight-bold">Vault - @SelectedHardwareVault?.Id</label>
                </div>
                <label class="control-label text-gray">You can send the code to the email</label>
                <div class="input-group form-group">
                    <input type="text" class="form-control text-navyblue" @bind="Email" />
                    <div class="input-group-append">
                        <ButtonSpinner Class="btn btn-outline-primary" Text="Send email" Callback="SendEmailAsync" />
                    </div>
                </div>
                <label class="control-label text-gray">Activation code</label>
                <div class="input-group form-group">
                    <input type="@(InputType)" id="activationCodeInput" value="@Code" readonly class="form-control">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" @onmousedown="@(() => InputType = "Text")" @onmouseup="@(() => InputType = "Password")">Show</button>
                        <button class="btn btn-outline-secondary" type="button" @onclick="CopyToClipboardAsync">Copy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navigation Buttons -->
    <div class="text-right">
        @if (WizardStep == WizardStep.HardwareVault)
        {
            <button type="button" class="btn btn-outline-secondary mr-3" @onclick="SkipVault">Skip</button>
        }
        @if (WizardStep == WizardStep.WorkstationAccount)
        {
            <button type="button" class="btn btn-outline-secondary mr-3" @onclick="SkipAccount">Skip</button>
        }
        @if (WizardStep != WizardStep.Profile && WizardStep != WizardStep.Activation)
        {
            <button type="button" class="btn btn-secondary" @onclick="Back">Back</button>
        }
        <ButtonSpinner Class="btn btn-primary" Callback="Next" Text="@(WizardStep == WizardStep.Activation ? "Done" : WizardStep == WizardStep.Overview ? "Create" : "Next")" />
    </div>
}