@if (Employee == null || !Initialized)
{
    <LoadingText />
}
else
{
<EditForm Model="@Employee" OnValidSubmit="EditAsync">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label class="control-label text-gray">FirstName</label>
        <InputText @bind-Value="Employee.FirstName" class="form-control text-navyblue" />
        <ValidationMessage For="@(() => Employee.FirstName)" class="text-danger" />
    </div>

    <div class="form-group">
        <label class="control-label text-gray">LastName</label>
        <InputText @bind-Value="Employee.LastName" class="form-control text-navyblue" />
        <ValidationMessage For="@(() => Employee.LastName)" class="text-danger" />
    </div>

    <div class="form-group">
        <label class="control-label text-gray">Email</label>
        <InputText @bind-Value="Employee.Email" class="form-control text-navyblue" />
        <ValidationMessage For="@(() => Employee.Email)" class="text-danger" />
    </div>

    <div class="form-group">
        <label class="control-label text-gray">PhoneNumber</label>
        <InputText @bind-Value="Employee.PhoneNumber" class="form-control text-navyblue" />
        <ValidationMessage For="@(() => Employee.PhoneNumber)" class="text-danger" />
    </div>

    <div class="form-group">
        <label class="control-label text-gra">Company</label>
        <select @onchange="OnCompanyChangeAsync" class="form-control text-navyblue">
            @foreach (var item in Companies)
            {
                if (Employee.Department?.CompanyId == item.Value)
                {
                    <option value="@item.Value" selected>@item.Text</option>
                }
                else
                {
                    <option value="@item.Value">@item.Text</option>
                }
            }
        </select>
        <ValidationMessage For="@(() => Employee.Department.CompanyId)" class="text-danger" />
    </div>

    <div class="form-group">
        <label class="control-label text-gra">Department</label>
        <select @bind="Employee.DepartmentId" class="form-control text-navyblue">
            @foreach (var item in Departments)
            {
                if (Employee.DepartmentId== item.Value)
                {
                    <option value="@item.Value" selected>@item.Text</option>
                }
                else
                {
                    <option value="@item.Value">@item.Text</option>
                }
            }
        </select>
        <ValidationMessage For="@(() => Employee.DepartmentId)" class="text-danger" />
    </div>

    <div class="form-group">
        <label class="control-label text-gra">Position</label>
        <select @bind="Employee.PositionId" class="form-control text-navyblue">
            @foreach (var item in Positions)
            {
                if (Employee.PositionId == item.Value)
                {
                    <option value="@item.Value" selected>@item.Text</option>
                }
                else
                {
                    <option value="@item.Value">@item.Text</option>
                }
            }
        </select>
        <ValidationMessage For="@(() => Employee.PositionId)" class="text-danger" />
    </div>

    <div class="form-group text-right mb-0">
        <button type="button" class="btn btn-secondary" @onclick="CloseAsync">Cancel</button>
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</EditForm>
}