@inherits OwningComponentBase

@if (!_initialized)
{
    <LoadingText />
}
else
{
    if (EntityBeingEdited)
    {
        <EditedByAnother EntityName="account" CloseAction="ModalDialogService.CancelAsync" />
    }
    else
    {
        <EditForm Model="_accountPassword" OnValidSubmit="EditAccountPasswordAsync">
            <DataAnnotationsValidator />
            <div class="form-group">
                <h5 class="text-navyblue">@Account.Name</h5>
            </div>
            <div class="form-group">
                <FormLabel For="@(() => _accountPassword.Password)" class="text-gray" />
                <InputText @bind-Value="_accountPassword.Password" type="password" class="form-control text-navyblue" />
                <ValidationMessage For="@(() => _accountPassword.Password)" class="text-danger" />
            </div>
            <div class="form-group">
                <FormLabel For="@(() => _accountPassword.ConfirmPassword)" class="text-gray" />
                <InputText @bind-Value="_accountPassword.ConfirmPassword" type="password" class="form-control text-navyblue" />
                <ValidationMessage For="@(() => _accountPassword.ConfirmPassword)" class="text-danger" />
            </div>
            @if (Employee.ActiveDirectoryGuid != null && LdapSettings != null && Account.Kind == AccountKind.Workstation && Account.Login.Contains(LdapSettings?.Host.Split(".")[0], StringComparison.OrdinalIgnoreCase))
            {
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input id="updPwd" type="checkbox" class="custom-control-input" @bind="_accountPassword.UpdateActiveDirectoryPassword" />
                        <label class="custom-control-label" for="updPwd">Update the password in the Active Directory</label>
                    </div>
                </div>
            }
            <div class="text-right">
                <button type="button" class="btn btn-secondary" @onclick="@(async () => await ModalDialogService.CloseAsync())">Cancel</button>
                <ButtonSpinner @ref="ButtonSpinner" Submit="true" Text="Save" Class="btn btn-primary" />
            </div>
        </EditForm>
    }
}