<ul class="list-group mb-3">
    <li class="list-group-item d-flex align-items-center">
        <span class="font-weight-bold">Serial Number</span>
        <span class="mx-1">-</span>
        <span>@HardwareVault.Id</span>
    </li>
    <li class="list-group-item d-flex align-items-center">
        <span class="font-weight-bold">MAC</span>
        <span class="mx-1">-</span>
        <span>@HardwareVault.MAC</span>
    </li>
    <li class="list-group-item d-flex align-items-center">
        <span class="font-weight-bold">Model</span>
        <span class="mx-1">-</span>
        <span>@HardwareVault.Model</span>
    </li>
    <li class="list-group-item d-flex align-items-center">
        <span class="font-weight-bold">RFID</span>
        <span class="mx-1">-</span>
        <span>@HardwareVault.RFID</span>
    </li>
    <li class="list-group-item d-flex align-items-center">
        <span class="font-weight-bold">Battery</span>
        <span class="mx-1">-</span>
        <span>@HardwareVault.Battery%</span>
    </li>
    <li class="list-group-item d-flex align-items-center">
        <span class="font-weight-bold">Employee</span>
        <span class="mx-1">-</span>
        <span class="text-truncate">@HardwareVault.Employee.FullName</span>
    </li>
    <li class="list-group-item d-flex align-items-center">
        <span class="font-weight-bold">Last Synced</span>
        <span class="mx-1">-</span>
        <span>
            @if (HardwareVault.LastSynced != null)
            {
                @TimeZoneInfo.ConvertTimeFromUtc((DateTime)HardwareVault.LastSynced, TimeZoneInfo.Local)
            }
        </span>
    </li>
    <li class="list-group-item d-flex align-items-center">
        <span class="font-weight-bold">Profile</span>
        <span class="mx-1">-</span>
        <span class="text-truncate">@HardwareVault.HardwareVaultProfile.Name</span>
    </li>
    <li class="list-group-item d-flex align-items-center">
        <span class="font-weight-bold">Imported At</span>
        <span class="mx-1">-</span>
        <span>@TimeZoneInfo.ConvertTimeFromUtc((DateTime)HardwareVault.ImportedAt, TimeZoneInfo.Local)</span>
    </li>
    <li class="list-group-item d-flex align-items-center">
        <span class="font-weight-bold">Status</span>
        <span class="mx-1">-</span>
        <span>@HardwareVault.Status</span>
    </li>
    <li class="list-group-item d-flex align-items-center">
        <span class="font-weight-bold">Reason</span>
        <span class="mx-1">-</span>
        <span>@HardwareVault.StatusReason</span>
    </li>
    <li class="list-group-item d-flex align-items-center">
        <span class="font-weight-bold">Description</span>
        <span class="mx-1">-</span>
        <span>@HardwareVault.StatusDescription</span>
    </li>
    <li class="list-group-item d-flex align-items-center">
        <span class="font-weight-bold">License Status</span>
        <span class="mx-1">-</span>
        <span>@HardwareVault.LicenseStatus</span>
    </li>
    <li class="list-group-item d-flex align-items-center">
        <span class="font-weight-bold">License End Date</span>
        <span class="mx-1">-</span>
        <span>
            @if (HardwareVault.LicenseEndDate != null)
            {
                @HardwareVault.LicenseEndDate
            }
        </span>
    </li>
    <li class="list-group-item d-flex align-items-center">
        <span class="font-weight-bold">Need Sync</span>
        <span class="mx-1">-</span>
        <span>
            @if (HardwareVault.NeedSync)
            {
                <span>Yes</span>
            }
            else
            {
                <span>No</span>
            }
        </span>
    </li>
</ul>
<div class="text-right">
    <button type="button" class="btn btn-secondary" @onclick="@(async () => await ModalDialogService.CancelAsync())">Close</button>
</div>