@if (isBusy)
{
    <div class="loading d-flex justify-content-center align-items-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
}
<div class="app">
    <div class="sidebar">
        <div class="list-group">
            @foreach (string logFile in LogsFiles)
            {
                <button class="list-group-item list-group-item-action @(logFile == Logs?.First().Name ? "active" : null)" @onclick="()=> ShowLogAsync(logFile)">@logFile</button>
            }
        </div>
    </div>
    <div class="main">
        @if (Logs == null)
        {
            <div class="d-flex justify-content-center align-items-center vh-100">
                <h5 class="px-3 m-0">Select log file</h5>
            </div>
        }
        else
        {
            <div class="content-header">
                <nav class="navbar navbar-light bg-light border-bottom shadow-sm">
                    <div>
                        <button id="download_btn" class="btn btn-secondary" title="Download file" @onclick="DownloadFile">
                            <img src="/svg/logs/download.svg" />
                        </button>
                        @*<button id="delete_btn" class="btn btn-secondary" title="Delete file">
                            <img src="/svg/logs/delete.svg" />
                        </button>*@
                    </div>
                    <div>
                        <span class="badge badge-success">INFO</span> <span id="infoLabel" class="badge badge-light">@Logs.Select(s => s.Level).Where(x => x == "INFO").Count()</span>
                        <span class="badge badge-info">DEBUG</span> <span id="debugLabel" class="badge badge-light">@Logs.Select(s => s.Level).Where(x => x == "DEBUG").Count()</span>
                        <span class="badge badge-warning">WARN</span> <span id="warnLabel" class="badge badge-light">@Logs.Select(s => s.Level).Where(x => x == "WARN").Count()</span>
                        <span class="badge badge-danger">ERROR</span> <span id="errorLabel" class="badge badge-light">@Logs.Select(s => s.Level).Where(x => x == "ERROR").Count()</span>
                        <span class="badge badge-dark">FATAL</span> <span id="fatalLabel" class="badge badge-light">@Logs.Select(s => s.Level).Where(x => x == "FATAL").Count()</span>
                    </div>
                    <div class="form-group has-search-right m-0">
                        <div class="form-control-feedback">
                            <img class="img-size" src="/svg/action/search.svg" />
                        </div>
                        <input id="searchbox" type="text" class="form-control" placeholder="Search" @oninput="@((e)=> { searchText = (string)e.Value; })">
                    </div>
                </nav>
            </div>
            <div class="content-body">
                <table class="table table-hover border rounded m-0 w-100" style="table-layout:fixed; margin:0px !important">
                    <thead>
                        <tr>
                            <th style="width:212px">
                                Date
                            </th>
                            <th style="width:100px">
                                Level
                            </th>
                            <th>
                                Logger
                            </th>
                            <th>
                                Message
                            </th>
                            <th style="width:100px">
                                Method
                            </th>
                            <th>
                                Url
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Logs.Where(x => x.Date.ToString().Contains(searchText, StringComparison.OrdinalIgnoreCase)
                                                  || x.Level.Contains(searchText, StringComparison.OrdinalIgnoreCase)
                                                  || x.Logger.Contains(searchText, StringComparison.OrdinalIgnoreCase)
                                                  || x.Message.Contains(searchText, StringComparison.OrdinalIgnoreCase)
                                                  || x.Method.Contains(searchText, StringComparison.OrdinalIgnoreCase)
                                                  || x.Url.Contains(searchText, StringComparison.OrdinalIgnoreCase)))
                        {
                            <tr data-toggle="modal" data-target="#modalView" @onclick="@(() => { LogModel = item; })">
                                <td>
                                    @item.Date
                                </td>
                                <td>
                                    @{
                                        switch (item.Level)
                                        {
                                            case "INFO":
                                                <span class="badge badge-success">@item.Level</span>
                                                break;
                                            case "DEBUG":
                                                <span class="badge badge-info">@item.Level</span>
                                                break;
                                            case "WARN":
                                                <span class="badge badge-warning">@item.Level</span>
                                                break;
                                            case "ERROR":
                                                <span class="badge badge-danger">@item.Level</span>
                                                break;
                                            case "FATAL":
                                                <span class="badge badge-dark">@item.Level</span>
                                                break;
                                        }
                                    }
                                </td>
                                <td>
                                    @item.Logger
                                </td>
                                <td>
                                    @item.Message
                                </td>
                                <td>
                                    @item.Method
                                </td>
                                <td>
                                    @item.Url
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

<div class="modal" id="modalView" tabindex="-1" role="dialog" aria-labelledby="modalDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-navyblue">Log</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalBody" class="modal-body">
                <h6>Date</h6>
                <p id="date">@LogModel?.Date</p>
                <h6>Level</h6>
                <p id="level">@LogModel?.Level</p>
                <h6>Logger</h6>
                <p id="logger">@LogModel?.Logger</p>
                <h6>Message</h6>
                <p id="message">@LogModel?.Message</p>
                <h6>Method</h6>
                <p id="method">@LogModel?.Method</p>
                <h6>Url</h6>
                <p id="url">@LogModel?.Url</p>
            </div>
        </div>
    </div>
</div>