@if (Filter == null)
{
    <LoadingText />
}
else
{
    <EditForm Model="Filter" OnValidSubmit="FilteredAsync">
        <DataAnnotationsValidator />
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">Start Date</label>
                <DateTimePicker @bind-Value="Filter.StartDate" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">End Date</label>
                <DateTimePicker @bind-value="Filter.EndDate" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">Event</label>
                <select @bind="Filter.Event" class="form-control">
                    <option selected></option>
                    @foreach (var item in EventTypes)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">Severity</label>
                <select @bind="Filter.Severity" class="form-control">
                    <option selected></option>
                    @foreach (var item in EventSeverities)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">Note</label>
                <InputText @bind-Value="Filter.Note" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">Workstation</label>
                <InputText @bind-Value="Filter.Workstation" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">Session</label>
                <InputText @bind-Value="Filter.UserSession" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">Hardware Vault</label>
                <InputText @bind-Value="Filter.HardwareVault" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">Employee</label>
                <InputText @bind-Value="Filter.Employee" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">Company</label>
                <InputText @bind-Value="Filter.Company" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">Department</label>
                <InputText @bind-Value="Filter.Department" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">Account</label>
                <InputText @bind-Value="Filter.Account" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <label class="mb-0 text-gray">Account Type</label>
                <select @bind="Filter.AccountType" class="form-control">
                    <option selected></option>
                    @foreach (var item in AccountTypes)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
            <div class="col align-self-end text-right form-group">
                <button id="clearFilter" type="button" class="btn btn-secondary" @onclick="ClearAsync">Clear</button>
                <input id="submitFilter" type="submit" value="Filter" class="btn btn-primary" />
            </div>
        </div>
    </EditForm>
}