@if (CurrentPassword == null)
{
    <LoadingText />
}
else
{
    <EditForm Model="CurrentPassword" OnValidSubmit="ChangeDataProtectionPasswordAsync">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label class="control-label text-gray">Old Password</label>
            <InputText @bind-Value="CurrentPassword.OldPassword" type="password" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => CurrentPassword.OldPassword)" class="text-danger" />
        </div>
        <div class="form-group">
            <label class="control-label text-gray">New Password</label>
            <InputText @bind-Value="CurrentPassword.NewPassword" type="password" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => CurrentPassword.NewPassword)" class="text-danger" />
        </div>
        <div class="form-group">
            <label class="control-label text-gray">Confirm New Password</label>
            <InputText @bind-Value="CurrentPassword.ConfirmPassword" type="password" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => CurrentPassword.ConfirmPassword)" class="text-danger" />
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-secondary" @onclick="@(async () => await  ModalDialogService.CancelAsync())">Cancel</button>
            <button type="submit" class="btn btn-primary">
                <span class="spinner-border spinner-border-sm @(IsBusy == true ? "" : "d-none")" role="status" aria-hidden="true"></span>
                <span>Change</span>
            </button>
        </div>
    </EditForm>
}