@if (NewPassword == null)
{
    <LoadingText />
}
else
{
    <EditForm Model="NewPassword" OnValidSubmit="EnableDataProtectionAsync">
        <DataAnnotationsValidator />
        <div class="form-group">
            <FormLabel For="@(() => NewPassword.Password)" class="text-gray" />
            <InputText @bind-Value="NewPassword.Password" type="password" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => NewPassword.Password)" class="text-danger" />
        </div>
        <div class="form-group">
            <FormLabel For="@(() => NewPassword.ConfirmPassword)" class="text-gray" />
            <InputText @bind-Value="NewPassword.ConfirmPassword" type="password" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => NewPassword.ConfirmPassword)" class="text-danger" />
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-secondary" @onclick="@(async () => await  ModalDialogService.CancelAsync())">Cancel</button>
            <ButtonSpinner @ref="ButtonSpinner" Submit="true" Text="Enable" Class="btn btn-primary" />
        </div>
    </EditForm>
}