@typeparam TItem
<div class="table-responsive table-scrollable mb-3">
    <table class="table table-hover border rounded w-100 mb-0 disable-selection">
        <thead>
            <tr>
                <th class="table-checkbox-column">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="checkAll" @onchange="OnCheckAllAsync" />
                        <label class="custom-control-label" for="checkAll"></label>
                    </div>
                </th>
                @TableHeader
            </tr>
        </thead>
        <tbody>
            @foreach (var wrapedItem in WrapedItems)
            {
                <tr @onclick="@(() => OnCheckAsync(wrapedItem))">
                    <td>
                        <div class="custom-control custom-checkbox" @onclick:stopPropagation="true">
                            <input type="checkbox" class="custom-control-input" id="@wrapedItem.Id" @onclick="@(() => OnCheckAsync(wrapedItem))" checked="@wrapedItem.Checked" />
                            <label class="custom-control-label" for="@wrapedItem.Id"></label>
                        </div>
                    </td>
                    @TableRow(wrapedItem.Item)
                </tr>
            }
        </tbody>
    </table>
</div>